.mob-dpd-menu {
  position: relative;
}

.dropdown {
  display: none;
}

@media (max-width: 1024px) {
  .dropdown {
    display: block;
  }

  .dropdown-menu {
    border-radius: 24px;
    width: 390px;
    height: 368px;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: var(--spinner-bgn);
    border: 0;
    pointer-events: auto;
    top: 280px !important;
  }

  .centered-menu.show {
    animation: fadeIn 0.3s ease-in-out !important;
  }

  @keyframes fadeIn {
    from {
      opacity: 0 !important;
      transform: translateX(-50%) translateY(-20px) !important;
    }
    to {
      opacity: 1 !important;
      transform: translateX(-50%) translateY(0) !important;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
  }

  .dropdown-items {
    padding: 24px;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    border: 1px solid #201338;
    border-radius: 16px;
    padding: 16px 24px;
    width: 342px;
    height: 60px;
    background: #120721;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: var(--second-primary);
    margin-bottom: 16px;
    pointer-events: auto;
    transition: none !important;
  }

  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item:active {
    background-color: #120721 !important;
    border-color: #201338 !important;
    color: var() !important;
    box-shadow: none !important;
    outline: none !important;
  }

  .item-icon {
    background-color: black;
  }

  .dpd-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  .cancel-btn {
    display: block;
    position: relative;
    margin-top: 45px;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
    padding: 16px 24px;
    width: 342px;
    height: 60px;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: var(--second-primary);
    background: var(--header-button-bg);
    z-index: 1;
    border: none;
  }

  .cancel-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 16px;
    padding: 1px;
    background: var(--border-gradient);
    -webkit-mask: var(--mask-gradient);
    mask: var(--mask-gradient);
    -webkit-mask-composite: exclude;
    mask-composite: exclude;
  }
}

@media (max-width: 768px) {
  .dropdown-menu {
    width: 330px;
    height: 310px;
    transform: translate(-50%, -60%) !important;
  }

  .dropdown-items {
    padding: 18px;
  }

  .dropdown-item {
    width: 294px;
    height: 50px;
    font-size: 12px;
    margin-bottom: 12px;
  }

  .dpd-icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }
}

@media (max-width: 480px) {
  .dropdown-toggle {
    padding: 5px 8px;
  }

  .dpd-icon {
    margin-right: 4px;
  }
}

@media (max-width: 320px) {
  .dropdown-items {
    padding: 22px;
  }

  .dropdown-menu {
    width: 300px;
    height: 280px;
    transform: translate(-50%, -60%) !important;
  }

  .dropdown-item {
    width: 256px;
  }
}
