.mob-dpd-menu {
  position: relative;
}
@media (max-width: 1024px) {
  
.dropdown-menu {  
    transform: translate(-50%, -50%) !important;
    background: var(--spinner-bgn);
  }

  .centered-menu.show {
    animation: fadeIn 0.3s ease-in-out !important;
  }

  @keyframes fadeIn {
    from {
      opacity: 0 !important;
      transform: translateX(-50%) translateY(-20px) !important;
    }
    to {
      opacity: 1 !important;
      transform: translateX(-50%) translateY(0) !important;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-items {
    padding: 24px;
  }

  .dropdown-item {
    width: 342px;
    height: 60px;
    font-family: var(--font-family);
    color: var(--second-primary);
  }

  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item:active {
    background-color: #120721 !important;
    border-color: #201338 !important;
    color: var() !important;
    box-shadow: none !important;
    outline: none !important;
  }

  .item-icon {
    background-color: black;
  }

  .cancel-btn {
    display: block;
    position: relative;
    padding: 16px 24px;
    width: 342px;
    height: 60px;
    font-family: var(--text-font);
    color: var(--second-primary);
    background: var(--header-button-bg);
    z-index: 1;
    border: none;
  }

  .cancel-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 16px;
    padding: 1px;
    background: var(--border-gradient);
    -webkit-mask: var(--mask-gradient);
    mask: var(--mask-gradient);
    -webkit-mask-composite: exclude;
    mask-composite: exclude;
  }
}

@media (max-width: 768px) {
  .dropdown-menu {
    transform: translate(-50%, -60%) !important;
  }

  .dropdown-items {
    padding: 18px;
  }

  .dropdown-item {
    width: 294px;
    height: 50px;
  }

  .dpd-icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }
}

@media (max-width: 480px) {
  .dropdown-toggle {
    padding: 5px 8px;
  }

  .dpd-icon {
    margin-right: 4px;
  }
}

@media (max-width: 320px) {
  .dropdown-items {
    padding: 22px;
  }

  .dropdown-menu {
    transform: translate(-50%, -60%) !important;
  }

  .dropdown-item {
    width: 256px;
  }
}