.stake-card {
  width: 309px;
  
  background: var(--header-button-bg);
  border: var(--midnight-purple-border);
  border-radius: 999px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.stake-card .img {
  margin-right: 100px;
}