.notification-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--spinner-bgn);
  z-index: 9999;
}

.notification-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  width: 90%;
  box-shadow: var(--primary-color);
  overflow: hidden;
}

.notification-box {
  border-radius: 16px;
  max-width: 642px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.notification-content {
  text-align: center;
  padding: 24px;
  border: var(--nav-divider-bg) 1px solid;
  background-color: var(--header-button-bg);
  border-radius: 48px;
}

.notification-title {
  color: var(--primary);
  text-align: center;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}

.notification-content h2 {
  color: var(--primary);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.3;
}

.notification-content p {
  color: var(--second-primary);
  font-size: 16px;
  line-height: 1.5;
  max-width: 380px;
  margin: 0 auto;
}

.notification-actions {
  display: flex;
  gap: 16px;
}

.notification-btn {
  flex: 1;
  padding: 20px 16px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--plain-button-bg);
  cursor: pointer;
}

.notification-cancel-btn {
  color: var(--primary);
  position: relative;
  border: none;
}

.notification-cancel-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  padding: 1px;
  background: var(--button-gradient);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.notification-confirm-btn {
  color: var(--primary);
  background: var(--second-gradient);
  border: none;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .notification-wrapper {
    max-width: 390px;
    width: 100%;
    padding: 20px;
  }

  .notification-title {
    font-size: 14px;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }

  .notification-content h2 {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .notification-content p {
    font-size: 14px;
    max-width: 320px;
  }

  .notification-actions {
    gap: 8px;
  }

  .notification-btn {
    padding: 20px 8px;
    border-radius: 16px;
    font-size: 14px;
  }

  .notification-cancel-btn::before {
    border-radius: 16px;
  }

  .notification-confirm-btn {
    font-size: 14px;
  }
}
