@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  --text-font: "Rethink Sans", sans-serif;
  --spinner-bgn: rgba(0, 0, 0, 0.5);
  --spinner-content: #393939;
  --text-color: #ffffff;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--spinner-bgn);
  z-index: 9999;
}

.spinner-content {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 12px 34px;
  width: 250px;
  height: 68px;
  background: var(--spinner-content);
}

.spinner-border {
  height: 36px;
  width: 36px;
  margin-right: 12px;
}

.loading-text {
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 28px;
  color: var(--text-color);
}
