.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--spinner-bgn);
  z-index: 9999;
}

.spinner-content {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 12px 34px;
  width: 250px;
  height: 68px;
  background: var(--spinner-content);
}

.spinner-border {
  height: 36px;
  width: 36px;
  margin-right: 12px;
}

.loading-text {
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 28px;
  color: var(--primary);
}

@media (max-width: 1440px) {
  .spinner-content {
    width: 200px;
    height: 56px;
    padding: 10px 28px;
  }

  .spinner-border {
    height: 28px;
    width: 28px;
    margin-right: 10px;
  }

  .loading-text {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .spinner-content {
    width: 180px;
    height: 52px;
    padding: 9px 24px;
  }

  .spinner-border {
    height: 24px;
    width: 24px;
    margin-right: 9px;
  }

  .loading-text {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .spinner-content {
    width: 160px;
    height: 48px;
    padding: 8px 20px;
  }

  .spinner-border {
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }

  .loading-text {
    font-size: 18px;
  }
}
