.partnership-container {
  position: relative;
}

.partnership-content {
  width: 100vw;
  height: 150px;
  background: var(--gradient);
  right: 120px;
  display: flex;
}

.partner-title {
  text-align: center;
  font-family: var(--text-font);
  color: var(--primary);
  margin-top: 60px;
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 48px;
}

.partnership-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: scroll 20s linear infinite; /* Infinite scroll */
  width: calc(150px * 8 * 2); /* Adjust width for duplicated logos */
}

.partnership-logo > * {
  flex-shrink: 0;
  width: 150px;
  height: 100px;
  margin: 0 20px;
}

@keyframes scroll {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}

@media (max-width: 1440px) {
  .partnership-content {
    width: 100vw;
    height: 130px;
  }

  .partner-title {
    margin-top: 50px;
    margin-bottom: 80px;
    font-weight: 600;
    font-size: 40px;
  }

  .partnership-logo {
    animation: scroll 12s linear infinite;
    width: calc(130px * 8 * 2);
  }

  .partnership-logo > * {
    flex-shrink: 0;
    width: 150px;
    height: 80px;
    margin: 0 20px;
  }
}

@media (max-width: 1024px) {
  .partnership-content {
    height: 110px;
  }

  .partner-title {
    font-size: 35px;
  }

  .partnership-logo {
    animation: scroll 10s linear infinite;
    width: calc(110px * 8 * 2);
  }

  .partnership-logo > * {
    height: 60px;
  }
}

@media (max-width: 480px) {
  .partnership-content {
    height: 100px;
  }

  .partnership-logo {
    animation: scroll 5s linear infinite; /* Infinite scroll */
    width: calc(110px * 8 * 2); /* Adjust width for duplicated logos */
  }

  .partnership-logo > * {
    height: 60px;
  }
}
