.partnership-container {
  position: relative;
}

.partnership-content {
  width: 100vw;
  height: 150px;
  background: var(--gradient);
  right: 120px;
  display: flex;
}

.partner-title {
  text-align: center;
  font-family: var(--text-font);
  color: var(--primary);
  margin-bottom: 130px;
  font-weight: 600;
  font-size: 48px;
}

.partnership-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: scroll 13s linear infinite; /* Infinite scroll */
  width: calc(150px * 8 * 2); /* Adjust width for duplicated logos */
}

.partnership-logo > * {
  flex-shrink: 0;
  width: 150px;
  height: 100px;
  margin: 0 20px;
}

@keyframes scroll {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}

@media (max-width: 1440px) {
  .partnership-content {
    height: 120px;
  }

  .partner-title {
    margin-top: 50px;
  }

  .partnership-logo {
    animation: scroll 11s linear infinite;
    width: calc(110px * 8 * 2);
  }

  .partnership-logo > * {
    width: 135px;
    height: 85px;
    margin: 0 18px;
  }
}

@media (max-width: 1024px) {
  .partnership-content {
    height: 100px;
  }

  .partner-title {
    font-size: 35px;
    margin-bottom: 100px;
  }

  .partnership-logo {
    animation: scroll 8s linear infinite;
  }

  .partnership-logo > * {
    width: 120px;
    height: 80px;
    margin: 0 16px;
  }
}

@media (max-width: 768px) {
  .partnership-content {
    height: 90px;
  }

  .partner-title {
    font-size: 32px;
    margin-bottom: 90px;
  }

  .partner-title {
    font-size: 30px;
  }

  .partnership-logo {
    animation: scroll 7s linear infinite;
  }

  .partnership-logo > * {
    width: 105px;
    height: 70px;
    margin: 0 15px;
  }
}

@media (max-width: 480px) {
  .partnership-content {
    height: 80px;
  }

  .partner-title {
    font-size: 28px;
    margin-bottom: 80px;
  }

  .partnership-logo {
    animation: scroll 5s linear infinite;
  }

  .partnership-logo > * {
    width: 100px;
    height: 60px;
    margin: 0 14px;
  }
}
