.slider-with-tooltip {
  position: relative;
}

.slider-tooltip {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  background: var(--collateral-color);
  color: var(--primary);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
}

.slider-tooltip::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--collateral-color);
}

.error-message {
  color: var(--borrow-color);
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

.slider-skeleton {
  width: 100%;
  height: 4px;
  padding: 20px 0;
  background: linear-gradient(90deg, var(--primary) 25%, var(--secondary) 50%, var(--primary) 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 2px;
  margin: 20px 0;
}


@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}


.step-slider-container {
  max-width: 642px !important;
  width: 100%;
  height: 104px;
  padding: 15px 20px;
  border: 1px solid #36294e;
  border-radius: 900px;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  margin-bottom: 3px;
  color: #393942;
  font-family: var(--text-font);
}

.slider-wrapper {
  position: relative;
  margin-top: -7.8px;
}

.slider-track-fill {
  position: absolute;
  top: 10px;
  height: 8px;
  background: #49abd2;
  /* background: linear-gradient(to right, #00a3ff, #a855f7); */
  border-radius: 4px;
  transition: width 0.2s ease;
  z-index: 1;
}

.step-slider {
  position: relative;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
  border-radius: 900px;
  z-index: 10;
}

.step-slider::before {
  content: '';
  position: absolute;
  height: 8.5px;
  inset: -0.5px;
  padding: 1px;
  background: var(--blue-pink-gradient);
  border-radius: inherit;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

/* Slider thumb styles */
.step-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  background: url('../../public/pinslide.svg'), no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-top: -10px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.step-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #87CEEB;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Step markers container */
.step-markers {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 2px;
  box-sizing: border-box;
}

.step-multipliers {
  position: absolute;
  width: 100% !important;
  display: flex;
  gap: 6%;
  /* justify-content: space-between; */
  box-sizing: border-box;
}

/* Individual step marker */
.step-mark {
  width: 4px;
  height: 10px;
  background-color: #393942;
  border-radius: 2px;
}

.step-mark.active {
  background-color: #88b4fa;
}

.step-multiplier {
  width: 24px;
  margin-top: 9px;
  color: #393942;
  font-size: 14px;
  text-align: center;
  font-family: var(--text-font);
  padding-top: 2px;
}

.step-multiplier.active {
  color: #fff;
}

/* Track styles for different browsers */
.step-slider::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 2px;
}

.step-slider::-moz-range-track {
  height: 4px;
  border-radius: 2px;
}

/* Focus styles */
.step-slider:focus {
  outline: none;
}