.form-content-wrapper {
  background: url('/public/background.png') no-repeat;
  background-size: cover;
  background-position: center 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: var(--font-family);
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 60px;
}

.form-title h1 {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 10px;
}

.token-card {
  width: 148px;
  height: 64px;
}

.token-card label {
  border-radius: 100px;
  padding: 2px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-purple);
  cursor: pointer;
  height: 100%;
}

.token-container {
  border-radius: 100px;
  background: var(--light-purple);
  transition: background 1.3s ease;
  padding: 1px;
  height: 100%;
}

.token-container:has(input[type='radio']:checked) {
  background: var(--button-gradient);
}

.token-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 2000px;
  background-color: hsla(261, 49%, 15%, 1);
}

.token-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 60px;
}

.token-label input {
  background-color: transparent;
  border: 1px solid var(--light-purple);
  border-radius: 50px;
  padding: 20px 30px;
  color: var(--gray);
}

.form-container > * {
  color: var(--primary);
}

.form-container label {
  color: var(--gray);
  font-size: 1rem;
}

.token-select {
  margin: 8px 0 8px 0;
}

.token-amount {
  margin: 20px 0 12px 0;
}

.token-card h5 {
  margin-top: 9px;
  font-size: 16px;
  font-size: 16px;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.token-card svg {
  width: 20px;
  height: 20px;
  width: 20px;
  height: 20px;
}

.form-token {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 20px;
}

.multiplier-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  gap: 10px;
  font-family: var(--font-family);
}

.recommended {
  position: absolute;
  height: 15px;
}

.recommended p {
  background-color: var(--brand);
  width: 120px;
  height: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  color: black;
  font-family: var(--text-font);
  justify-content: center;
}

.recommended-item {
  display: flex;
  align-items: flex-end !important;
  font-size: 20px;
}

.multiplier-item label {
  border: 1px solid var(--brand);
  width: 120px;
  height: 50px;
  border-radius: 8px;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.multiplier-item:not(.recommended-item) label {
  align-items: center;
  font-size: 21px;
}

input[type='radio'] {
  display: none;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.multiplier-item input[type='radio']:checked + label {
  border-color: var(--brand);
  box-shadow: 0 4px 20px var(--brand);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  color: var(--primary);
}

.error-message {
  padding: 10px;
  border-radius: 5px;
  background-color: red;
  font-size: 15px;
  color: black;
  margin-bottom: 5px;
}

input[type='number'].error {
  border-color: red;
  background-color: #ffe6e6;
  color: var(--black);
}

.form-button {
  width: 642px;
  border: solid 5px transparent;
  height: 60px;
  border-radius: inherit;
  font-size: 20px;
  font-family: var(--text-font);
  font-weight: 700;
  color: var(--primary);
  background-color: hsla(265, 65%, 8%, 1);
}

.form-button-container {
  margin-top: 20px;
  padding: 1px;
}

.balance-card {
  max-width: 100%;
  margin-top: 20px;
}

.form-alert {
  display: flex;
  align-items: center;
}

.form-alert-hex {
  margin-left: auto;
}

.balance-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  gap: 16px;
}

.balance-item {
  display: flex;
  flex-direction: column;
  width: 198px;
  height: 101px;
  align-items: center;
  border-radius: 900px;
  border: 1px solid var(--light-purple);
  justify-content: center;
  background-color: var(--dark-purple);
  padding: 16px 30px;
}

.balance-item label:nth-child(1) {
  font-size: 14px;
  color: var(--secondary);
  display: flex;
  gap: 4px;
}

.balance-item label:nth-child(2) {
  font-size: 24px;
  color: var(--secondary);
  line-height: 32.68px;
}

.balance-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance-title span {
  font-size: 14px;
}

.balance-title .balance-icon-wrapper {
  background-color: #201338;
  border-radius: 12px;
  display: block;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 0;
}

.balance-title svg {
  height: 18px;
  width: 18px;
  height: 18px;
  width: 18px;
}

.balance-title.blend svg {
  filter: grayscale(1);
}

/* Responsiveness */
/* Mobile */
@media (max-width: 768px) {
  .form-content-wrapper {
    gap: 0;
  }

  .form-container {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 1rem;
  }

  .form-container > form {
    padding: 0 1rem;
  }

  .form-button {
    font-size: 16px;
  }

  .form-token {
    max-width: 100%;
    overflow-x: scroll;
    gap: 40px;
    scrollbar-width: none;
  }

  .form-container label {
    font-size: 12px;
  }

  .balance-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    max-width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .balance-item {
    height: fit-content;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    border-radius: 16px;
  }

  .balance-item:first-child {
    margin-left: 20px;
  }

  .balance-item:last-child {
    margin-right: 20px;
  }

  .balance-item .balance-title {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .balance-item .title-container + label:nth-of-type(1) {
    font-size: 20px;
    font-weight: 600;
  }

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
  }

  .multiplier-card {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    display: grid;
  }

  .balance-item label:nth-child(2) {
    color: var(--secondary);
    font-size: 14px;
  }

  .form-title h1 {
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .token-icon {
    margin-right: 5px;
    position: relative;
    z-index: 1;
  }

  .token-card {
    width: auto;
    height: auto;
  }

  .token-card h5 {
    margin: 0;
    font-size: 14px;
    gap: 0;
  }

  .token-card svg {
    width: 15px;
    height: 15px;
  }

  .token-label input {
    border-radius: 16px;
    font-size: 14px;
  }

  .token-card label {
    border-radius: 12px;
    max-width: max-content;
    padding: 4px 8px;
  }

  .token-container {
    border-radius: 12px;
    max-width: fit-content;
    position: relative;
  }

  .pagination {
    display: flex;
    gap: 8px;
    margin-top: 25px;
    justify-content: center;
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
  }

  .dot.active {
    background-color: var(--light-blue);
  }

  .token-label {
    margin-top: 0;
  }
  .token-amount {
    margin: 25px 0 12px 0;
  }
}

@media (max-width: 480px) {
  .form-token {
    max-width: 100%;
    overflow-x: scroll;
    gap: 16px;
    scrollbar-width: none;
  }
}

@media (max-width: 375px) {
  .token-amount {
    margin: 20px 0 12px 0;
  }
}

/* Tablet devices */
@media screen and (min-width: 600px) and (max-width: 900px) {
}

/* Large screens */
@media (min-width: 1800px) {
  .form-card {
    width: 400px;
  }

  .form-token label,
  .multiplier-card label {
    width: auto;
    height: 60px;
  }

  input[type='number'] {
    height: 60px;
  }

  .recommended p {
    width: 150px;
    height: 22px;
    font-size: 15px;
  }
}

.form-health-factor{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-self: flex-end;
  width: fit-content;
  margin: 2px;
  color: gray;
  align-self: flex-end;
  gap: 5px;
}