.congratulationsModal {
    padding: 150px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
}

.congratulationsModal h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #eeeeee;
}

.congratulationsModal p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 12px;
    color: white;
}

.congratulationsModal img {
    margin: 70px 0;
}

.gradient-button {
    border-radius: 8px;
    border: none;
    height: 52px;
    width: 500px;
    font-size: 20px;
    font-family: var(--text-font);
    color: var(--black);
    font-weight: 700;
    background: var(--button-gradient);
    line-height: 100%;
}

.gradient-button:hover {
    background: var(--button-gradient-hover);
}

.gradient-button:active {
    background: var(--button-gradient-active);
}

.gradient-button:disabled {
    background: var(--button-gradient);
    color: var(--primary);
    opacity: 0.6;
    cursor: not-allowed;
}