:root{
    --text-font:'Rethink Sans',sans-serif;
    --gradient: linear-gradient(73deg, #74D6FD 1.13%, #E01DEE 103.45%);
    --secondary-color:#1A1C24;
    --blue-color:#74D6FD;
    --primary-color:#0B0C10;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 105vh;
    width: 117%;
    right: 9.2%;
    background-color: var(--primary-color);
}

.about-title{
    text-align: center;
    font-family: var(--text-font);
    color: white;
    margin-top: 20px;
}

.card-about{
    width: 350px;
    height: 400px;
    background: linear-gradient(0deg, rgba(72, 143, 162, 0.03) 0%, rgba(72, 143, 162, 0.03) 100%), linear-gradient(123deg, rgba(116, 214, 253, 0.50) 0.63%, rgba(11, 12, 16, 0.50) 100.03%);
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    border: 0.5px solid #74D6FD;
    box-shadow: 0px 3.75px 3.75px 0px rgba(0, 0, 0, 0.15), 3.75px 3.75px 9.375px 0px rgba(153, 234, 255, 0.25) inset;
    backdrop-filter: blur(21.09375px);
}

.card-container{
    flex-grow: 1;
    gap: 20px;
    position: relative;
}

.card-description h6{
    text-align: center;
    color: darkgray;
    font-weight: 400;
}

.card-about > *{
    color: white;
}

.card-number{
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    text-align: center;
}

.card-number h2{
    border: 1px solid var(--blue-color);
    margin: 0 auto;
    padding: 5px;
    width: 70px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.card-gradient:nth-child(1){
    position: absolute;
    top: 80px;
    left: -40px;
    width: 232px;
    height: 208px;
    flex-shrink: 0;
    border-radius: 2000px;
    background: var(--gradient, linear-gradient(73deg, #74D6FD 1.13%, #E01DEE 103.45%));
    /* Blur */
    filter: blur(80px);
}

.card-gradient:nth-child(2){
    position: absolute;
    right: -50px;
    bottom: 70px;
    width: 232px;
    height: 208px;
    flex-shrink: 0;
    border-radius: 2000px;
    background: var(--gradient, linear-gradient(73deg, #74D6FD 1.13%, #E01DEE 103.45%));
    /* Blur */
    filter: blur(80px);
}

@media (min-width: 1800px) {
    .about-container {
        width: 125%;
        right: 150px;
    }

    .card-title h4{
        font-size: 1.6em;
    }

    .card-description h6{
        font-size: 1.2em;
    }

    .about-title{
        font-size: 70px;
    }

    .card-about {
        width: 400px;
        height: 450px;
    }
    .card-gradient:nth-child(1){
        position: absolute;
        top: 180px;
        left: -40px;
        width: 232px;
        height: 208px;
    }

    .card-gradient:nth-child(2){
        position: absolute;
        right: -70px;
        bottom: 170px;
        width: 232px;
        height: 208px;
    }

}

@media (max-width: 1800px) {
    .about-container {
        width: 120%;
        right: 100px;
    }

    .card-about {
        width: 370px;
        height: 420px;
    }

    .card-gradient:nth-child(1){
        position: absolute;
        top: 300px;
        left: -40px;
    }

    .card-gradient:nth-child(2){
        position: absolute;
        right: -70px;
        bottom: 300px;
    }
}

@media (max-width: 1710px) {
    .about-container {
        width: 100%;
        right: 20px;
    }

    .card-about {
        width: 340px;
        height: 400px;
    }

    .card-gradient:nth-child(1){
        position: absolute;
        top: 100px;
        left: -40px;
    }

    .card-gradient:nth-child(2){
        position: absolute;
        right: -70px;
        bottom: 120px;
    }
}

@media (max-width: 1440px) {
    .about-container {
        left: 10px;
        width: 97%;
    }

    .card-about {
        width: 320px;
        height: 380px;
    }
}

@media (max-width: 1550px) {
    .about-container {
        width: 100%;
    }

    .card-about {
        width: 320px;
        height: 380px;
    }
}

@media (max-width: 1400px) {
    .about-container {
        left: -10px;
        width: 105%;
    }
}

@media (max-width: 1280px) {
    .about-container {
        width: 95%;
        left: 15px;
    }

    .card-about {
        width: 280px;
        height: 360px;
    }
}


@media (max-width: 1024px) {
    .card-about {
        width: 100%;
        max-width: 280px;
        margin-bottom: 20px;
    }
}

