.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  margin-bottom: 350px;
  padding: 0;
}

.about-star {
  position: absolute;
  top: var(--star-top);
  left: var(--star-left);
  width: var(--star-size);
  height: var(--star-size);
}

.card-icon-about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.card-title h4 {
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 26px;
  line-height: 108%;
  text-align: center;
  color: var(--primary);
}

.about-title {
  text-align: center;
  font-family: var(--text-font);
  color: var(--primary);
  margin-top: 64px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 180px;
}

.card-about {
  width: 310px;
  height: 368px;
  background: var(--card-bg-gradient);
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  border: var(--card-border);
  box-shadow: var(--card-box-shadow);
  backdrop-filter: blur(21.09375px);
  padding: 12px;
}

.card-container {
  flex-grow: 1;
  display: flex;
  position: relative;
}

.card-container .card-about {
  margin-right: 18px;
}

.card-container .card-about:last-child {
  margin-right: 0;
}

.card-description h6 {
  text-align: center;
  color: var(--secondary);
  font-weight: 400;
  font-family: var(--text-font);
  font-size: 20px;
  line-height: 140%;
}

.card-number {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--brand);
}

.card-number h2 {
  border: var(--card-border);
  margin: 0 auto;
  padding: 5px;
  width: 70px;
  background-color: var(--primary-color);
  border-radius: 10px;
  font-weight: 600;
  font-family: var(--text-font);
  font-size: 32px;
}

.cards-gradient {
  position: relative;
}

.card-gradient:nth-child(1) {
  position: absolute;
  top: 0;
  left: 1150px;
  width: 232px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 2000px;
  background: var(--gradient);
  filter: blur(80px);
}

.card-gradient:nth-child(2) {
  position: absolute;
  right: -100px;
  bottom: 60px;
  width: 232px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 2000px;
  background: var(--gradient);
  filter: blur(80px);
}

@media (max-width: 1440px) {
  .about-container {
    margin-bottom: 270px;
  }

  .about-title {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 150px;
  }

  .card-container .card-about {
    margin-right: 18px;
  }

  .card-about {
    width: 260px;
    height: 300px;
    gap: 12px;
    padding: 10px;
  }

  .card-number {
    width: 100%;
  }

  .card-icon-about svg {
    width: 100px;
    height: 100px;
  }

  .card-gradient:nth-child(1) {
    left: 900px;
  }

  .card-title h4 {
    font-weight: 500;
    font-size: 20px;
  }

  .card-description h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  .card-number h2 {
    margin: 0 auto;
    padding: 5px;
    width: 70px;
    font-weight: 600;
    font-size: 30px;
  }
}

@media (max-width: 1150px) {
  .about-container {
    margin-bottom: 170px;
  }

  .about-title {
    margin-top: 40px;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 130px;
  }

  .card-container .card-about {
    margin-right: 15px;
  }

  .card-about {
    width: 220px;
    height: 255px;
    gap: 10px;
    padding: 8px;
  }

  .card-number {
    width: 100%;
  }

  .card-icon-about svg {
    width: 80px;
    height: 80px;
  }

  .card-gradient:nth-child(1) {
    left: 900px;
  }

  .card-title h4 {
    font-weight: 500;
    font-size: 18px;
  }

  .card-description h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  .card-number h2 {
    padding: 5px;
    width: 60px;
    font-weight: 600;
    font-size: 25px;
  }
}

@media (max-width: 950px) {
  .card-about {
    width: 175px;
    height: 205px;
    gap: 8px;
    padding: 6px;
  }

  .about-container {
    margin-bottom: 150px;
  }

  .about-title {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 120px;
  }

  .card-container .card-about {
    margin-right: 12px;
  }

  .card-ico-aboutn {
    height: 80px;
  }

  .card-icon-about svg {
    width: 60px;
    height: 60px;
  }

  .card-gradient:nth-child(1) {
    left: 600px;
  }

  .card-title h4 {
    font-weight: 400;
    font-size: 15px;
  }

  .card-description h6 {
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
  }

  .card-number h2 {
    position: absolute;
    top: 8px;
    padding: 6px;
    width: 45px;
    font-weight: 600;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .about-container {
    margin-bottom: 150px;
  }

  .about-title {
    font-size: 30px;
    margin-bottom: 80px;
  }

  .card-container {
    flex-direction: column;
    gap: 35px;
  }

  .card-container .card-about {
    margin-right: 0;
  }

  .card-gradient:nth-child(1) {
    left: 150px;
    top: 850px;
  }

  .card-gradient:nth-child(2) {
    right: 150px;
    bottom: -190px;
  }
}
