.tab-content {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  padding-top: 0;
}

.currency-info {
  display: flex;
  align-items: center;
}

.currency-name {
  font-size: 20px;
  color: var(--second-primary);
}

.balance-info {
  font-size: 16px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: 594px;
  height: 190px;
  margin-top: 12px;
}
.balance-label {
  color: var(--gray);
  font-size: 16px;
  font-weight: 400;
}

.balance-value {
  color: var(--second-primary);
  margin-left: 2px;
}
.icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background: var(--border-color);
  border-radius: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

@media (max-width: 768px) {
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    padding: 3px;
  }

  .tab-content {
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .balance-info {
    width: 100%;
    height: auto;
  }

  .currency-name {
    font-size: 18px;
  }

  .balance-label,
  .balance-value,
  .current-sum-red {
    font-size: 14px;
  }

  .top-card-value {
    font-size: 18px;
  }

  .tab-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
}

@media (max-width: 480px) {
  .tab-content {
    width: fit-content;
    font-size: 14px;
  }

  .currency-symbol {
    font-size: 16px;
  }

  .currency-name {
    font-size: 16px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .balance-info {
    width: fit-content;
  }
}
