.documentation-container {
  display: flex;
  min-height: 100vh;
  color: var(--primary);
  position: relative;
  padding-top: 70px;
}

.documentation-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 85% 15%, rgba(255, 255, 255, 0.25) 1px, transparent 1px),
    radial-gradient(circle at 15% 85%, rgba(255, 255, 255, 0.25) 1px, transparent 1px),
    radial-gradient(circle at 75% 75%, rgba(255, 255, 255, 0.25) 1px, transparent 1px);
  background-size: 100px 100px;
  pointer-events: none;
  z-index: 0;
}

.main-content {
  margin-left: 370px;
  flex: 1;
  background: url('../../../public/background.png') no-repeat;
  background-size: cover;
  background-position: center 39%;
  position: relative;
  min-height: 100vh;
}

.sections-container {
  margin-left: 20px;
}

.main-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 94px;
  margin-bottom: 3rem;
  margin-left: 40px;
  color: white !important;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@media (max-width: 1440px) {
  .main-content {
    margin-left: 280px;
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 1rem;
  }

  .main-title {
    font-size: 2rem;
  }
}
