.header-nav {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 90px;
  white-space: nowrap;
  background: var(--header-bg);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #300734;
  z-index: 9999;
}

.header-nav-sticky {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 90px;
  white-space: nowrap;
  background: var(--header-bg);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #300734;
  z-index: 100;
}

.list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  padding: 0 30px;
  position: relative;
}

.nav-divider {
  border-radius: 8px;
  width: 3px;
  height: 12px;
  background: var(--nav-divider-bg);
}

.nav-items {
  display: flex;
  gap: 1em;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-items a {
  position: relative;
  color: var(--secondary);
  font-family: var(--font-family);
  transition: color 0.3s;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
}

.nav-items a:hover {
  color: var(--nav-button-hover);
}

.nav-items a.active-link {
  color: var(--nav-button-hover);
  font-weight: 600;
}

.logo svg {
  margin-top: 9px;
  width: 300px;
  height: auto;
}

/* Wallet section styles */
.wallet-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 274px;
  height: 57px;
  padding: 16px 24px;
  font-size: 24px;
  color: var(--primary);
  background: var(--header-bg);
}

.wallet-container::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 900px;
  padding: 1px;
  background: var(--border-gradient);
  -webkit-mask: var(--mask-gradient);
  mask: var(--mask-gradient);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.wallet-id {
  position: relative;
  font-size: 16px;
  font-family: var(--text-font);
  font-weight: 600;
  line-height: 150%;
  color: var(--second-primary);
  left: 50%;
  transform: translateX(-50%);
}

.menu-dots {
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -1px;
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 80px;
  right: 0;
  width: 300px;
  border-radius: 10px;
  background: var(--header-button-bg);
  transition: all 0.3s ease;
  padding: 16px;
  box-sizing: border-box;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  border: none;
  color: var(--primary);
  font-family: var(--text-font);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  width: 250px;
  height: 50px;
  border-radius: 900px;
}

.logout-button::before {
  content: '';
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 50px;
  border-radius: 900px;
  padding: 1px;
  background: var(--border-gradient);
  mask: var(--mask-gradient);
  mask-composite: exclude;
}

.menu-dropdown .wallet-id {
  display: none;
}

.wallet-section .connect-wallet {
  border-radius: 900px;
  padding: 15px 24px;
  border: none;
  height: 55px;
  width: 280px;
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 16px;
  color: var(--second-primary);
  background: var(--second-gradient);
}

.Toastify__toast {
  margin-top: 90px;
}

.Toastify__toast-body {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .nav-items {
    display: none;
  }

  .logo svg {
    width: 250px;
    height: auto;
  }

  .menu-section {
    display: flex;
    align-items: center;
  }

  .wallet-container .wallet-id {
    display: none;
  }

  .menu-dropdown .wallet-id {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 238px;
    height: 48px;
    font-size: 14px;
  }

  .menu-dropdown .wallet-id::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 900px;
    padding: 1px;
    background: var(--border-gradient);
    mask: var(--mask-gradient);
    mask-composite: exclude;
  }

  .menu-dropdown .logout-button {
    width: 250px;
    height: 50px;
    border-radius: 900px;
    margin-top: 15px;
    font-size: 14px;
  }

  .connect-btn {
    width: 238px;
    height: 48px;
    top: 50%;
    left: 50%;
    font-size: 14px;
  }

  .logout-button::before {
    content: '';
    width: 238px;
    height: 48px;
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
  }

  .wallet-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--primary);
    background: #201338;
  }

  .wallet-container::before {
    display: none;
  }

  .wallet-section .connect-wallet {
    padding: 14px 24px;
    width: 238px;
    height: 48px;
    font-size: 14px;
  }
  .Toastify__toast {
    left: 50px;
    height: 60px;
    width: 265px;
  }

  .Toastify__toast-body {
    font-size: 13px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .logo svg {
    width: 230px;
    height: auto;
  }

  .menu-dropdown {
    width: 285px;
  }

  .menu-dropdown .wallet-id {
    width: 226px;
    height: 46px;
    font-size: 12px;
  }

  .menu-dropdown .logout-button {
    font-size: 12px;
  }

  .connect-btn {
    width: 238px;
    height: 48px;
    border-radius: 900px;
  }

  .logout-button::before {
    width: 226px;
    height: 46px;
  }

  .wallet-section .connect-wallet {
    padding: 12px 24px;
    width: 226px;
    height: 46px;
    font-size: 12px;
  }

  .Toastify__toast {
    left: 70px;
    height: 40px;
    width: 250px;
  }

  .Toastify__toast-body {
    font-size: 13px;
    font-weight: 400;
  }
}

@media (max-width: 480px) {
  .header-nav {
    height: 80px;
  }
  .list-items {
    padding: 0 25px;
  }

  .wallet-container {
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 0;
  }

  .menu-dots {
    padding: 0;
  }

  .Toastify__toast {
    left: 200px;
    width: 200px;
    border-radius: 6px !important;
  }

  .Toastify__toast-body {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .list-items {
    justify-content: flex-start;
    padding: 0 25px;
  }

  .logo svg {
    width: 200px;
  }

  .Toastify__toast {
    left: 130px;
    width: 180px;
  }
}
