body {
  font-family:
    'Rethink Sans',
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
}
.withdraw-wrapper {
  background: url('../../../../public/background.png') no-repeat;
  background-size: cover;
  background-position: center 39%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* margin-left: 200px; */
  /* padding: 0 24px; */
  /* width: 100vw; */
  padding: 0 24px;
}

.withdraw-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px;
  margin-top: 36px;
  margin-left: 200px;
}

.withdrawal-title {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.main-container {
  width: 642px;
  gap: 2px;
  gap: 2px;
  padding-top: 37px;
  border-radius: 8px;
  border-radius: 8px;
  color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-items: stretch;
}

.withdraw-title {
  font-size: 18px;
  font-weight: 300;
  color: var(--primary);
  text-align: center;
}

.card-header {
  color: var(--stormy-gray);
}

.card-icon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.main-card {
  padding: 3rem 1.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: var(--midnight-purple-border);
  border-radius: 8px;
}

.amount-stack-card {
  background: var(--footer-divider-bg);
  border: var(--midnight-purple-border);
  padding: 2rem;
  border-radius: 8px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount-stack-card-title-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.withdraw-input-title {
  font-size: 16px;
  color: var(--stormy-gray);
  margin-bottom: 5px;
}

.withdraw-input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: var(--midnight-purple-border);
  border-radius: 8px;
  border-radius: 8px;
  padding: 16px;
  color: var(--primary);
  font-size: 16px;
}

/* main card footer */
.divider {
  width: 100%;
  height: 1.5px;
  background: var(--footer-divider-bg);
  margin: 1rem 0;
}

.settings-fee-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0px 12px 0px ;
  padding: 6px 0px 12px 0px ;
}

.fee-title {
  color: var(--stormy-gray);
  font-size: 12px;
  font-weight: 400;
}

.setting-circle {
  width: 32px;
  height: 32px;
  background-color: var(--footer-divider-bg);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.setting-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.withdraw-button {
  position: relative;
  display: inline-block;
  font-weight: 600;
  /* width: 642px;  */
  width: 100%; 
  height: 60px;
  background: none;
  color: var(--primary);
  font-size: 16px;
  cursor: pointer;
  border: none;
  padding: 16px 24px 16px 24px;
  z-index: 1;
  overflow: hidden;
}

.withdraw-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border-radius: 8px;
  padding: 2px;
  background: var(--blue-pink-gradient);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.mobile-screen-btns {
  display: none;
}


@media (max-width: 1024px) {
  .withdraw-wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 20px;
  }

  .withdraw-container {
    width: 642px;
    margin-left: 0;
  }

  .main-card {
    margin: 0 auto;
    width: 100px;
    width: 100%;
    gap: 20px;
  }

  .withdraw-button {
    font-size: 16px;
    padding: 16px 24px;
    margin-left: 12px;
    margin-right: 11px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .withdraw-container {
    margin-left: 0px;
  }
}

@media (max-width: 678px){  
  .withdraw-container {
    margin-top: -120px;
    margin-left: 0px;
  }

  .withdrawal-title {
    font-size: 24px;
  }

  .main-container {
    padding-top: 20px;
  }

  .top-cards{
    width: 480px;
    gap: 6px;
  }

  .main-card{
    border: none;
  }

  .withdraw-title {
    font-size: 16px;
  }

  .amount-stack-card {
    padding: 2rem .8rem;
    width: 474px;
    margin: auto;
  }

  .withdraw-input-title {
    font-size: 12px;
    margin: auto 70px;
    margin-bottom: 8px;
  }

  .withdraw-input {
    width: 474px;
    margin: auto 70px;
  }

  .withdraw-input::placeholder {
    font-size: 14px;
  }

  .divider {
    height: 0;
  }
  
  .settings-fee-container {
    width: 470px;
    margin: auto;
  }

  .withdraw-button {
    width: 470px;
  }
}


@media (max-width: 480px) {
  .top-cards {
    width: 380px;
    gap: 8px;
  }
  .main-card {
    min-height: 280px;
    /* margin: auto; */
    width: 450px;
  }

  .amount-stack-card {
    width: 380px;
  }

  .withdraw-input-title {
    font-size: 12px;
    margin: auto 14px;
    padding-bottom: 8px;
  }

  .withdraw-input {
    width: 380px;
    margin: auto 14px;
  }

  .withdraw-input::placeholder {
    font-size: 12px;
  }

  .settings-fee-container {
    width: 380px;
  }

  .larger-screen-btn {
    display: none;
  }

  .mobile-screen-btns{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    /* width: 380px; */
  }

  .withdraw-button {
    width: 180px;
    height: 64px;
    font-size: 14px;
    padding: 24px 0px;
    line-height: 19px;
    margin-right: 10px; 
  }
  
  .cancel-button {
    display: block;
    width: 180px;
    background: none;
    border: var(--midnight-purple-border);
    border-radius: 8px;
    padding: 24px 0px;
    font-size: 14px;
    color: var(--primary);
    text-align: center;
    line-height: 19px;
    font-weight: 600;
  }
  
}

@media (max-width: 400px) {
  .top-cards {
    width: 330px;
    gap: 8px;
  }

  .main-card {
    width: 330px;
  }

  .amount-stack-card {
    padding: .8rem;
    width: 330px;
    margin: auto;
  }

  .withdraw-title {
    font-size: 14px;
  }

  .withdraw-input {
    width: 330px;
    margin: auto 40px;
  }

  .withdraw-input-title {
    margin: auto 30px;
    padding-bottom: 8px;
  }

  .settings-fee-container {
    width: 330px;
    margin: auto;
  }

  .withdraw-button {
    width: 160px;
  }
  
  .cancel-button {
    width: 150px;
  }
}


@media (max-width: 320px) {
  .top-cards {
    width: 280px;
    gap: 8px;
  }
  .main-card {
    min-height: 280px;
    width: 300px;
    margin:auto;

  }

  .amount-stack-card {
    width: 280px;
    margin: auto;
  }

  .withdraw-input {
    width: 100%;
    margin: auto;
  }

  .withdraw-input-title {
    margin: auto ;
  }

  .settings-fee-container {
    width: 280px;
    margin: auto;
  }

  .withdraw-button {
    width: 130px;
  }
  
  .cancel-button {
    width: 130px;
  }
}
