body {
  font-family:
    'Rethink Sans',
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
}
.withdraw-wrapper {
  background: url('../../../public/background.png') no-repeat;
  background-size: cover;
  background-position: center 39%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  padding-top: 24px;
  transition: all 0.2s ease-in-out

}

.withdraw-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin-left: 200px;
  transition: all 0.3s ease-in-out
}

.withdrawal-title {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.main-container-withdraw {
  width: 642px;
  gap: 2px;
  padding-top: 24px;
  border-radius: 8px;
  color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top-cards-withdraw {
  display: flex;
  gap: 1.5rem;
  width: 642px;
  height: 101px;
}

.withdraw-title {
  font-size: 20px;
  font-weight: 300;
  color: var(--primary);
  text-align: center;
}

.card-header {
  color: var(--stormy-gray);
}

.card-icon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.main-card-withdraw {
  padding: 1.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 38px;
  border: var(--midnight-purple-border);
  border-radius: 8px;
}

.amount-stack-card {
  background: var(--footer-divider-bg);
  border: var(--midnight-purple-border);
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount-stack-card-title-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.withdraw-input-container {
  padding: 8px 0;
}

.withdraw-input-title {
  font-size: 16px;
  color: var(--stormy-gray);
  margin-bottom: 5px;
}

.withdraw-input{
  width: 100%;
  height: 60px;
  background: transparent;
  border: var(--midnight-purple-border);
  border-radius: 8px;
  border-radius: 8px;
  padding: 16px;
  color: var(--primary);
  font-size: 16px;
}

/* main card footer */
.divider {
  width: 100%;
  height: 1.5px;
  background: var(--footer-divider-bg);
  margin: 1rem 0;
}

.settings-fee-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0px 12px 0px ;
}

.fee-title {
  color: var(--stormy-gray);
  font-size: 12px;
  font-weight: 400;
}

.setting-circle {
  width: 32px;
  height: 32px;
  background-color: var(--footer-divider-bg);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.setting-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.withdraw-button {
  position: relative;
  display: inline-block;
  font-weight: 600;
  /* width: 642px;  */
  width: 100%; 
  height: 60px;
  background: none;
  color: var(--primary);
  font-size: 16px;
  cursor: pointer;
  border: none;
  padding: 16px 24px 16px 24px;
  z-index: 1;
  overflow: hidden;
}

.withdraw-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border-radius: 8px;
  padding: 2px;
  background: var(--blue-pink-gradient);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.mobile-screen-btns {
  display: none;
}


@media (max-width: 1024px) {
  .withdraw-container {
    width: 642px;
    margin-left: 0;
  }

  .main-card {
    margin: 0 auto;
    width: 100px;
    width: 100%;
    gap: 20px;
  }

  .withdraw-button {
    font-size: 16px;
    padding: 16px 24px;
    margin-left: 12px;
    margin-right: 11px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .withdraw-container {
    margin-left: 0px;
  }
}

@media (max-width: 680px){  
  .withdraw-container {

    /* margin-top: -120px;
    margin-left: 0px; */
  }

  /* .withdrawal-title {
    font-size: 24px;
  } */

  .withdrawal-title {
    margin: 0;
  }
  
  .top-cards-withdraw{
    width: 500px;
    margin: 0px;
    /* gap: 6px; */
  }

  .main-container-withdraw {
    width: 500px;
    margin: auto;
    padding-top: 0px;
  }


  .main-card-withdraw{
    width: 500px;
    margin: auto;
  }

  .withdraw-button {
    width: 500px;
  }
}



@media (max-width: 480px) {
  .withdraw-container {
    gap: 20px;
  }

  .withdrawal-title {
    font-size: 20px;
  }

  .top-cards-withdraw {
    width: 380px;
    gap: 8px;
    height: 88px;
    margin-top: -6px;
  }

  .main-container-withdraw {
    width: 500px;
    margin: 0;
    padding-top: 0px;
  }

  .withdraw-title {
    font-size: 16px;
  }

  .main-card-withdraw {
    padding: 0 1.5rem 2.5rem 1.5rem;
    width: 430px;
    border: none;
  }

  .amount-stack-card {
    padding: 1rem;
  }

  .withdraw-input-title {
    font-size: 12px;
  }

  .withdraw-input {
    padding: 2rem 1rem;
  }

  .withdraw-input::placeholder {
    font-size: 12px;
  }

  .larger-screen-btn {
    display: none;
  }

  .mobile-screen-btns{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 400px;
    margin: 0 auto;
  }

  .btn {
    width: 50%;
    
  }

  .withdraw-button {
    height: 70px;
    font-size: 14px;
    padding: 28px 0px;
    line-height: 19px;
    margin-right: 10px; 
  }
  
  .cancel-button {
    display: block;
    background: none;
    border: var(--midnight-purple-border);
    border-radius: 8px;
    padding: 28px 0px;
    font-size: 14px;
    color: var(--primary);
    text-align: center;
    line-height: 19px;
    font-weight: 600;
  }
  
}

@media (max-width: 425px) {
  .top-cards-withdraw {
    width: 340px;
    gap: 8px;
  }

  .main-card {
    width: 340px;
    border: 1px solid;
  }

  .amount-stack-card {
    padding: .8rem;
    width: 340px;
    margin: auto;
  }

  .withdraw-title {
    font-size: 14px;
  }

  .withdraw-input {
    width: 340px;
    margin: auto 22px;
  }

  .withdraw-input-title {
    margin: auto 22px;
    padding-bottom: 8px;
  }

  .divider {
    width: 340px;
    margin: 8px 22px;
  }

  .settings-fee-container {
    width: 340px;
    margin: auto;
  }

  .mobile-screen-btns{
    width: 340px;
  }

}


@media (max-width: 380px) {
  .top-cards-withdraw {
    width: 330px;
    gap: 8px;
  }

  .amount-stack-card {
    width: 330px;
    margin: auto;
  }

  .withdraw-input {
    width: 330px;
    margin: auto 28px;
  }

  .withdraw-input-title {
    margin: auto 28px;
  }

  .divider {
    width: 330px;
    margin: 8px 26px;
  }

  .settings-fee-container {
    width: 320px;
    margin: auto 26px;
  }

  .mobile-screen-btns{
    width: 320px;
  }
}


@media (max-width: 375px) {
  .top-cards-withdraw {
    width: 280px;
    gap: 8px;
  }
  .main-card {
    min-height: 200px;
    width: 280px;
    margin:auto;

  }

  .amount-stack-card {
    width: 280px;
    margin: auto;
  }

  .withdraw-input {
    width: 280px;
    margin: auto 50px;
  }

  .withdraw-input-title {
    margin: auto 50px;
  }

  .divider {
    width: 280px;
    margin: 8px 50px;
  }

  .settings-fee-container {
    width: 280px;
    margin: auto 50px;
  }

  .mobile-screen-btns{
    width: 280px;
  }
}
