
.modal-container{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 1rem;
  z-index: 500;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-container {
  width: 642px;
  gap: 24px;
  border-radius: 20px;
  padding: 1rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-card {
  background: var(--header-button-bg);
  border: 1px solid var(--nav-divider-bg);
  padding: 2rem;
  border-radius: 48px;
  width: 642px;
  height: 318px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logout-heading-container {
  border-bottom: 1px solid var(--nav-divider-bg);
}

.logout-heading {
  text-align: center;
}

.logout-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttons-container {
  display: flex;
  gap: 24px;
  width: 100%;
}

.logout-btn {
  width: 642px;
  height: 60px;
  border-radius: 900px;
  background: var(--second-gradient);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 18px 24px 18px 24px;
}

.cancel-button {
  background-color: var(--plain-button-bg);
  position: relative;
  display: inline-block;
  font-weight: 600;
  width: 642px;
  height: 60px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  padding: 16px 24px 16px 24px;
  z-index: 1;
  overflow: hidden;
}

.cancel-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 2px;
  background: var(--gradient);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
