.stake-wrapper {
  background: url('../../../../public/background.png') no-repeat;
  background-size: cover;
  margin-left:200px;
}


.token-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 2000px;
  background-color: hsla(261, 49%, 15%, 1);
}

.network-selector-container {
  position: relative;
  width: 100%;
}

.main-stake-card {
  padding:4px 4px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: var(--midnight-purple-border);
  border-radius: 8px;
}

.network-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  background: var(--bg);
  border-bottom: 1px solid var(--light-purple);
  color: white;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  position: relative;
  z-index: 10;
}

.network-selector .selected-network {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.network-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.chevron {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.network-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--gray);
  border-radius: 2rem;
  z-index: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.network-dropdown .network-option {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: background 0.3s;
}

.network-dropdown .network-option:hover {
  background: rgba(255, 255, 255, 0.2);
}

.network-selector-container:hover .network-dropdown {
  display: block;
}

.network-selector-container:hover .chevron {
  transform: rotate(180deg);
}

.amount-input {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  text-align: center;
}

.amount-field {
  background: transparent;
  border: none;
  color: var(--gray);
  font-size: 64px;
  font-weight: 600;
  outline: none;
  text-align: center;
  width: 100%;
}

.currency {
  position: absolute;
  color: var(--dark-gray);
  right: 31%;
  top: 18%;
  transform: translateY(-50%);
  opacity: 0.5;
  font-size: 16px;
  line-height: 20.83px;
  z-index: 999999;
}

.apy-rate {
  color: var(--dark-gray);
  font-size: 0.875rem;
  margin-bottom: 2rem;
  text-align: center;
}

.balance-display-container .large-screen-balance {
  display: block;
}

.balance-display-container .mobile-screen-balance {
  display: none;
}

.divider1 {
  height: 1px;
  width: 80%;
  background: var(--footer-divider-bg);
  margin:auto;

}
.stake-wrapper {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  padding: 5rem 24px; 
}

.main-container {
  width: 642px;
  gap: 24px;
  padding-top: 37px;
  border-radius: 20px;
  color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.top-cards{
  display: flex;
  gap: 24px;
}
.stake-card {
  width: 309px;
  height:101px;
  background: var(--header-button-bg);
  border: var(--midnight-purple-border);
  border-radius: 8px;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stake-title {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary);
  text-align: center;
  padding: 1rem 0rem;
}
.stake-button1 {
  width: 642px;
  height: 60px;
  padding: 16px 24px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 2rem;
}
 
.cancel{
  display: none;
}


/********Responsiveness  **********/

@media (min-width: 769px) and (max-width: 1024px){
  .stake-wrapper{
    margin-left:0px;
  }
}

/* Mobile view */
@media (max-width:768px) {
  .sidenav{
    display: none;
  }
.top-cards {
  width:100%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  height: 88px;
} 

  .main-container {
    width: 100%;
    padding: 0;
  }

  .stake-card {
    width: 167px;
    height:88px;
    padding: 16px 24px;
    border: 1px;
    background: var(--header-button-bg);
    border: var(--midnight-purple-border);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center; 
  }

  .stake-wrapper {
    top: 80px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;   
    padding: 3rem 24px;
    margin-left: 0px;
  }

  .stake-container {
    width: 100%;
    max-width: 390px;
    height: 610px;
    margin:0 auto;
    margin-bottom: 2rem;
  }

  .stake-title {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary);
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding: 1.5rem 0rem;
  }

  .can-stk{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top: 2rem;
  }
   .cancel {
    width: 167px;
    height: 60px;
    padding: 16px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    border-color:#36294E ;
    color: white;
    display: block;
  }
  .stake-button1 {
    width: 167px;
    height: 60px;
    padding: 16px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0px;
  } 
  .form{
    margin-bottom: 2rem;
    width: 100%;    
    display: block;
    margin: 0 auto;

  }


.divider1 {
    height: 1px;
    width: 80%;
    background: var(--footer-divider-bg);
    margin:auto;
}

  
}



  .amount-field {
    font-size: 24px;
    padding: 10px;
  }

@media (max-width: 678px) {
  .main-container {
    padding-top: 0px;
  }

  .top-cards {
    gap: 8px;
  }
}

@media (max-width: 480px) {
  .top-cards {
    gap: 10px;
  }

}

@media (max-width: 400px) {


}

@media (max-width: 320px) {

}
