.metric-card {
  width: 309px;
  background: var(--header-button-bg);
  border: var(--midnight-purple-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 24px;
}

.card-header .label{
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}

.card-value .metric-card-value{
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}



@media (max-width: 768px) {
  .metric-card {
    width: 100%; /* Full width on mobile */
    border-radius: 10px; /* Adjust border radius for mobile */
    /* padding: 16px 24px; */
  }
}

@media (max-width: 678px) {
  .metric-card {
    width: 100%; /* Ensure full width on smaller screens */
    /* padding: 24px 2px; */
  }

  .card-value .metric-card-value {
    font-size: 21px;
    /* line-height: 21px; */
  }
}

@media (max-width: 480px) {
  .metric-card {
    padding: 0 2px;
  }

  .card-header .label {
    font-size: 12px;
   line-height: 16px; 
 }
  
 .card-value .metric-card-value {
  font-size: 16px;
  line-height: 21px;
}
}

@media (max-width: 426px) {
  
  
  
}
