.button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

/* Size variants */
.button--lg {
  width: 642px;
  padding: 18px 32px;
  font-size: 16px;
}

.button--md {
  width: 309px;
  padding: 18px 24px;
  font-size: 16px;
}

.button--sm {
  width: 167px;
  padding: 18px 16px;
  font-size: 14px;
}

/* Variant styles */
.button--primary {
  color: white;
  padding: 16px 24px 16px 24px;
  background: linear-gradient(73.48deg, #e01dee 1.13%, #49abd2 51.27%);
  transition: all 1 ease;
}

.button--primary:active {
  transform: translateY(1px);
}

.button--primary:hover:not(:disabled) {
  background: linear-gradient(73.48deg, #49abd2 1.13%, #e01dee 51.27%);
}

.button--secondary {
  position: relative;
  display: inline-block;
  background: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  padding: 16px 24px 16px 24px;
  z-index: 1;
  overflow: hidden;
}

.button--secondary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 2px;
  background: linear-gradient(90deg, #74d6fd 0%, #e01dee 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.button--secondary:active {
  transform: translateY(1px);
}

/* Disabled state */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:disabled:hover {
  transform: none;
}

@media (max-width: 768px) {
  .button {
    border-radius: 8px;
  }

  .button--primary {
    padding: 20px 12px;
  }

  .button--secondary::before {
    border-radius: 8px;
  }

  .button--lg {
    width: 100%;
  }

  .button--md {
    font-size: 14px;
    width: 167px;
  }
}
@media (max-width: 400px){
  .button--lg{
    width:100% !important;
  }
}