.button {
  position: relative;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  height: 60px;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.button--lg {
  width: 642px;
  padding: 18px 32px;
}

.button--md {
  width: 309px;
  padding: 18px 24px;
}

.button--sm {
  width: 167px;
  padding: 18px 16px;
}

.button--primary {
  color: white;
  padding: 16px 24px 16px 24px;
  background: transparent;
}

.button--primary::after {
  content: '';
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(90deg, #49abd2 0%, #e01dee 100%);
  border-radius: inherit;
  mask:
    conic-gradient(#000 0 0) content-box exclude,
    conic-gradient(#000 0 0);
}

.button--primary:active {
  transform: translateY(1px);
}

.button--primary:hover:not(:disabled)::after {
  background: linear-gradient(90deg, #e01dee 0%, #49abd2 100%);
}

.button--secondary {
  position: relative;
  display: inline-block;
  background: transparent;
  color: white;
  cursor: pointer;
  border: var(--midnight-purple-border);
  padding: 16px 24px 16px 24px;
  z-index: 1;
  overflow: hidden;
}

.button--secondary:active {
  transform: translateY(1px);
}

/* Disabled state */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:disabled:hover {
  transform: none;
}

@media (max-width: 768px) {
  .button--primary {
    padding: 20px 12px;
  }

  .button--lg {
    width: 100%;
  }

  .button--md {
    width: 167px;
  }
}
@media (max-width: 400px) {
  .button--lg {
    width: 100% !important;
  }
}
