.modall-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--spinner-bgn);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
    z-index: 10100;
    
    
    padding: 100px 100px;

}

.text-group {
    background-color: #120721;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    max-width: 642px;
}

.report-bug-form {
    border-radius: 2px;

}



.modall-content h3 {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #798795;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.line {
    border: 1px solid #22153A;
}

.modal-header {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #798795
}

.modal-paragraph-text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 5px 0px;
    color: #f0f0f0
}

.telegram-icon {
    width: 20px;
    height: 20px;

}

.bug-textarea {
    width: 100%;
    min-height: 135px;
    background-color: #120721;
    border: 1px solid #22153a;
    border-radius: 8px;
    padding: 12px;
    color: white;
    margin-bottom: 24px;
    resize: none;
    outline: none;
}

.bug-textarea::placeholder {
    color: #f0f0f0;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.dev-group-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
}

.dev-group-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.send-icon {
    width: 16px;
    height: 16px;
    transform: rotate(-45deg);
}

.button-group {
    margin-top: 20px;
    display: flex;
    gap: 16px;
    justify-content: center;
}