.card {
  width: 309px;
  height: 101px;
  background: var(--bg);
  border: 1px solid var(--light-purple);
  border-radius: 12px;
  padding-top: 4px;
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
}

.top-card-value {
  font-size: 24px;
}
.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--second-primary);
}
.currency-symbol {
  margin-right: 4px;
  font-size: inherit;
  color: inherit;
}

.label {
  font-size: 14px;
  font-weight: 600;
}

.card-value {
  font-size: 24px;
  font-weight: 600;
  height: fit-content;
  color: var(--second-primary);
}

@media (max-width: 768px) {
  .card {
    height: 90px;
    padding: 8px 2px 14px 2px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-header {
    padding: 0;
  }

  .card-header .label {
    font-size: 14px;
    font-weight: 400;
  }

  .currency-symbol {
    font-size: 18px;
  }

  .top-card-value {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .card {
    background: var(--deep-purple);
  }
}

@media (max-width: 480px) {
  .top-card-value {
    font-size: 16px;
  }
  .currency-symbol {
    font-size: 16px;
  }
  .card {
    width: 167px;
    padding: 16px 0px;
  }
}

@media (max-width: 400px) {
  .card {
    width: 167px;
    padding: 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top-card-value {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 167px;
    padding: 10px 0px;
  }
}
