
.position-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: -16px;
}

.pagination-button {
  background: hsla(261, 49%, 15%, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 90px;
}

.pagination-button > svg > path  {
  stroke: hsla(261, 39%, 46%, 1);
}

.pagination-button.disabled {
  background: hsla(261, 63%, 12%, 1);
  cursor: default;
}

.pagination-button.disabled > svg > path {
  stroke: hsla(255, 24%, 25%, 1);
}

.pagination-page-number {
  font-size: 12px;
  font-weight: 400;
  color: hsla(255, 21%, 29%, 1);
  cursor: pointer;
}

.pagination-pages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.pagination-page-number.page-selected {
  font-weight: 600;
  color: hsla(261, 39%, 45%, 1)
}