.token-selector-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.token-select-label {
  color: var(--gray);
}

.token-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.token-card-btn {
  position: relative;
  width: 100%;
  text-align: center;
  border: var(--purple-border);
  border-radius: 8px;
}

.token-card-btn.selected::after {
  content: '';
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(90deg, #49abd2 0%, #e01dee 100%);
  border-radius: inherit;
  mask:
    conic-gradient(#000 0 0) content-box exclude,
    conic-gradient(#000 0 0);
}

.token-name-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding-block: 16px;
}

.token-selector-icon {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-selector-icon svg {
  width: 20px;
  height: 20px;
}

.token-card-label {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  line-height: 22px;
}

input[type='radio'] {
  display: none;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1300px) {
  .deposit-token-selector {
    width: 530px;
  }
}

@media (max-width: 680px) {
  .deposit-token-selector {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .deposit-token-selector {
    width: 480px;
  }
}

@media (max-width: 480px) {
  .deposit-token-selector {
    width: 420px;
  }
}

@media (max-width: 420px) {
  .deposit-token-selector {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .token-select-label {
    font-size: 12px;
  }

  .token-name-wrapper {
    padding-block: 12px;
  }

  .token-selector-icon {
    height: 24px;
    width: 24px;
  }

  .token-selector-icon svg {
    width: 16px;
    height: 16px;
  }

  .token-card-label {
    font-size: 14px;
  }
}
