.information {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info__container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin-top: 190px;
  margin-bottom: 180px;
}

.card-info {
  width: 420px;
  height: 250px;
  background: var(--card-bg-gradient);
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  border: var(--card-border);
  box-shadow: var(--card-box-shadow);
  backdrop-filter: var(--card-bg-filter);
  color: var(--primary);
}

.card-info h3 {
  font-size: 35px;
  min-height: 60px;
  font-family: var(--text-font);
  font-weight: 600;
  line-height: 95%;
  text-align: center;
  align-items: center;
  color: var(--primary);
  margin-bottom: 0;
  margin-top: 3px;
}

.card-info h3.loading-text {
  font-size: 38px;
}

.card-info h1 {
  color: var(--secondary);
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 7px;
}

.infos .card-gradient:nth-child(1) {
  position: absolute;
  top: 80px;
  left: -330px;
  width: 232px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 2000px;
  background: var(--gradient);
  filter: blur(120px);
}

.infos .card-gradient:nth-child(2) {
  position: absolute;
  right: -450px;
  bottom: 70px;
  width: 342px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 2000px;
  background: var(--gradient);
  filter: blur(120px);
}

@media (max-width: 1440px) {
  .card-info__container {
    max-width: 1000px;
  }

  .card-info {
    width: 370px;
    height: 225px;
    gap: 12px;
  }

  .card-info h3 {
    font-size: 30px;
    min-height: 55px;
    margin-bottom: 0;
    margin-top: 3px;
  }

  .card-info h3.loading-text {
    font-size: 33px;
  }

  .card-info h1 {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 7px;
  }

  @media (max-width: 1024px) {
    .card-info__container {
      max-width: 750px;
      margin-top: 150px;
      margin-bottom: 120px;
    }
    .card-info {
      width: 300px;
      height: 180px;
      gap: 8px;
    }

    .card-info h3 {
      font-size: 28px;
      min-height: 45px;
      margin-bottom: 0;
      margin-top: 3px;
    }

    .card-info h3.loading-text {
      font-size: 28px;
    }

    .card-info h1 {
      font-size: 23px;
      margin-bottom: 0;
      margin-top: 7px;
    }

    .infos .card-gradient:nth-child(1) {
      top: 50px;
      left: -200px;
      width: 180px;
      height: 180px;
    }

    .infos .card-gradient:nth-child(2) {
      right: -200px;
      bottom: 40px;
      width: 250px;
      height: 180px;
    }
  }

  @media (max-width: 768px) {
    .card-info__container {
      flex-direction: column;
      align-items: center;
      width: 700px;
      margin-top: 120px;
      margin-bottom: 90px;
    }

    .card-info {
      width: 270px;
      height: 160px;
      margin-bottom: 60px;
    }

    .card-info h3 {
      font-size: 26px;
      min-height: 40px;
      margin-bottom: 0;
      margin-top: 3px;
    }

    .card-info h3.loading-text {
      font-size: 25px;
    }

    .card-info h1 {
      font-size: 20px;
      margin-bottom: 0;
      margin-top: 7px;
    }
    .infos .card-gradient:nth-child(1) {
      top: 10px;
    }

    .infos .card-gradient:nth-child(2) {
      right: -300px;
      bottom: -40px;
    }
  }

  @media (max-width: 480px) {
    .card-info__container {
      margin-top: 100px;
      margin-bottom: 80px;
    }

    .card-info {
      width: 240px;
      height: 145px;
      margin-bottom: 60px;
    }

    .card-info h3 {
      font-size: 26px;
      min-height: 35px;
      margin-bottom: 0;
      margin-top: 3px;
    }

    .card-info h3.loading-text {
      font-size: 25px;
    }

    .card-info h1 {
      font-size: 18px;
      margin-bottom: 0;
      margin-top: 7px;
    }
  }
}
