.sidebar {
    background-color: black;
    border-right: 1px solid #300734;
    display: none;
    color: #83919F;
}


@media (min-width: 1024px) {
    .sidebar {
        display: block;
    }
}

.sidebar-sticky {
    position: absolute;
    top: 0px;
    height: calc(100vh - 50px);
    overflow-y: auto;
    width: 20%;
}

/* Title styles */
.sidebar-title {
    padding: 12px 8px;
    border-bottom: 1px solid #e5e7eb;
}

.sidebar-title h2 {
    font-size: 18px;
    font-weight: 600;
    color: #d6d6d6;
}

/* Navigation styles */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

/* Item styles */
.sidebar-item-wrapper {
    width: 100%;
}

.sidebar-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 14px;
    color: #374151;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}

.sidebar-item:hover {
   color: white;
}

.sidebar-item.active {
    color: white;
}

.sidebar-item.nested {
    padding-left: 32px;
}

/* Icon styles */
.item-icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.item-name {
    flex: 1;
}

.expand-icon {
    margin-left: 8px;
}

/* Nested items container */
.nested-items {
    margin-left: 16px;
}

/* Scrollbar styles */
.sidebar-sticky::-webkit-scrollbar {
    width: 4px;
}

.sidebar-sticky::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.sidebar-sticky::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.sidebar-sticky::-webkit-scrollbar-thumb:hover {
    background: #555;
}