
.partnership-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: scroll 13s linear infinite; /* Infinite scroll */
  width: calc(150px * 8 * 2); /* Adjust width for duplicated logos */
}

.partnership-logo > * {
  flex-shrink: 0;
  width: 150px;
  height: 100px;
  margin: 0 20px;
}

@keyframes scroll {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}

