body {
  font-family: 'Rethink Sans', -apple-system, Roboto, Helvetica, sans-serif;
}

.dashboard-wrapper {
  background: url('../../../../public/background.png') no-repeat center 20% fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  padding-top: 1rem;
}

.dashboard-container {
  width: 642px;
  gap: 6px;
  border-radius: 20px;
  padding: 1rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dashboard-title {
  font-size: 32px;
  font-weight: 600px;
  margin-bottom: 3rem;
}

.top-cards {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 1rem;
  width: 642px;
  height: 101px;
}

.top-card-value {
  font-size: 24px;
}

.card {
  width: 309px;
  height: 101px;
  background: rgba(18, 7, 33, 1);
  border: 1px solid rgba(54, 41, 78, 1);
  border-radius: 900px;
  padding-top: 5px;
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
  width: 309px;
  height: 101px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background: rgba(32, 19, 56, 1);
  border-radius: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

.card-value {
  font-size: 24px;
  font-weight: 600px;
  color: white;
}

.main-card {
  background: rgba(18, 7, 33, 1);
  border: 2px solid rgba(54, 41, 78, 1);
  padding: 2rem;
  border-radius: 48px;
  margin-bottom: 1rem;
  width: 642px;
  height: 318px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.7rem;
  position: relative;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 0.5rem 1rem;
  color: #8b8a91;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab.active {
  color: rgba(73, 171, 210, 1);
}

.tab.active.borrow {
  color: rgba(255, 53, 211, 1);
}

.tab-indicator-container {
  position: absolute;
  bottom: -16px;
  left: 0;
  width: calc(100% - 20px);
  height: 1px;
  overflow: hidden;
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.tab-indicator.collateral {
  background: linear-gradient(90deg, #49abd2 0%, rgba(40, 16, 41, 0) 100%);
  transform: translateX(0);
}

.tab-indicator.borrow {
  background: linear-gradient(90deg, rgba(40, 16, 41, 0) 0%, #ff35d3 100%);
  transform: translateX(0);
}

.tab-icon {
  margin-right: 0.5rem;
}

.tab-divider {
  width: 3px;
  height: 18px;
  border-radius: 8px;
  background-color: #201338;
  margin: 0 1rem;
}

.tab-content {
  font-size: 1rem;
  color: #8b8a91;
  text-align: left;
  width: 594px;
  height: 190px;
  padding: 24px;
  gap: 12px;
}

.currency-info {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 4px;
}

.currency-name {
  font-size: 20px;
  color: white;
}

.balance-info {
  font-size: 1rem;
  gap: 7px;
  display: flex;
  flex-direction: column;
  width: 594px;
  height: 190px;
}

.label {
  font-size: 14px;
}

.balance-label {
  color: #9AA7B4;
  font-size: 16px;
  font-weight: 400px;
}

.balance-value {
  color: white;
  margin-left: 2px;
}

.balance-value.negative {
  color: rgba(255, 53, 211, 1);
}

.current-sum-white {
  color: white;
}

.currency-symbol {
  margin-right: 4px;
  font-size: inherit;
  color: inherit;
}


.redeem-button {
  width: 642px;
  height: 3rem;
  border-radius: 9999px;
  background: linear-gradient(73.48deg, #e01dee 1.13%, #49abd2 51.27%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

.telegram-button {
  position: relative;
  display: inline-block;
  width: 642px;
  height: 3rem;
  background: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  line-height: 3rem;
}

.telegram-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(90deg, #74D6FD 0%, #E01DEE 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.current-sum-green {
  color: #60AF77;
  font-weight: bold;
}

.current-sum-red {
  color: #F42222;
  font-weight: bold;
}