.gas-fee-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gas-fee-circle {
    width: 32px;
    height: 32px;
    background-color: var(--footer-divider-bg);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.gas-fee-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
}

.gas-fee-title {
    color: var(--stormy-gray);
    font-size: 12px;
    font-weight: 400;
}