.dont-miss__container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 60px;
  margin-bottom: 250px;
}

.miss-title {
  text-align: center;
  color: var(--primary);
  font-size: 48px;
  font-weight: 600;
}

.miss-description {
  color: var(--secondary);
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
}

.miss-button {
  position: relative;
}

.hand-icon {
  position: absolute;
  right: -53px;
  top: 26px;
}

.miss-star {
  position: absolute;
  top: var(--star-top);
  left: var(--star-left);
  width: var(--star-size);
  height: var(--star-size);
}

@media (max-width: 1800px) {
  .hand-icon {
    right: -50px;
    top: 24px;
    width: 135px;
    height: 135px;
  }
}

@media (max-width: 1440px) {
  .dont-miss__container {
    margin-top: 50px;
    margin-bottom: 230px;
  }

  .miss-title {
    font-size: 40px;
  }

  .miss-description {
    font-size: 17px;
  }

  .hand-icon {
    right: -44px;
    top: 27px;
    width: 114px;
    height: 114px;
  }
}

@media (max-width: 1024px) {
  .dont-miss__container {
    margin-top: 45px;
    margin-bottom: 220px;
  }

  .miss-title {
    font-size: 35px;
  }

  .miss-description {
    font-size: 15px;
  }

  .hand-icon {
    right: -34px;
    width: 91px;
    height: 91px;
  }
}
@media (max-width: 768px) {
  .dont-miss__container {
    margin-top: 40px;
    margin-bottom: 210px;
  }

  .miss-title {
    font-size: 32px;
  }

  .miss-description {
    font-size: 13px;
  }

  .hand-icon {
    right: -28px;
    top: 26px;
    width: 72px;
    height: 72px;
  }
}

@media (max-width: 480px) {
  .dont-miss__container {
    margin-top: 30px;
    margin-bottom: 190px;
  }

  .miss-title {
    font-size: 30px;
  }

  .miss-description {
    font-size: 13px;
  }

  .hand-icon {
    right: -28px;
    top: 26px;
    width: 72px;
    height: 72px;
  }
}
