body {
  background-color: var(--dashboard-bg);
}





.decoration,
.small-star,
.star {
  position: absolute;
  z-index: -1;
}

.decoration {
  top: var(--top);
  left: var(--left);
  width: var(--size);
  height: var(--size);
}

.decoration-0 {
  width: 80%;
  height: 80%;
}

.decoration-1 {
  width: 30%;
  height: 30%;
}

.decoration-2 {
  width: 45%;
  height: 45%;
}

.decoration-3 {
  width: 75%;
  height: 75%;
}

.small-star {
  top: var(--top);
  left: var(--left);
}

.star {
  top: var(--top);
  left: var(--left);
  width: var(--size);
  height: var(--size);
}

.top-gradient,
.bottom-gradient {
  background: var(--gradient);
  height: 100px;
  width: 60%;
  margin: 0;
  border-radius: 2000px 2000px 0 0;
  filter: blur(100px);
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.top-gradient {
  top: -50px;
}
.bottom-gradient {
  bottom: -50px;
}

.starknet {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: -1;
}




@media (max-width: 1800px) {
 
  .decoration-0 {
    width: 65%;
    height: 65%;
    top: -15vh;
    left: -20vw;
  }

  .decoration-1 {
    width: 20%;
    height: 20%;
    top: -5vh;
    left: 10vw;
  }

  .decoration-2 {
    width: 40%;
    height: 40%;
    top: -10vh;
    left: 55vw;
  }

  .decoration-3 {
    width: 55%;
    height: 55%;
    top: -5vh;
    left: 62vw;
  }


}

@media (max-width: 480px) {
  .decoration:nth-child(2),
  .decoration:nth-child(4) {
    display: none;
  }

  .decoration-0 {
    width: 40%;
    height: 40%;
    top: -15vh;
    left: -5vw;
  }
  .decoration-2 {
    width: 50%;
    height: 43%;
  }
}
