@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  --text-font: 'Rethink Sans', sans-serif;
  --font-family: 'Open Sans', sans-serif;
  --third-family: 'Allerta Stencil', sans-serif;
  --font3: 'Inter', sans-serif;
  --backdrop-filter: blur(12px);
  --header-bg: rgba(7, 0, 22, 0.8);
  --nav-button-hover: #49abd2;
  --nav-divider-bg: #36294e;
  --second-primary: #fdfdfd;
  --second-gradient: linear-gradient(55deg, #e01dee 0%, #49abd2 49%);
  --header-button-bg: #120721;
  --plain-button-bg: #0e0a16;
  --border-gradient: linear-gradient(90deg, #49abd2 0%, #df1ced 99.5%);
  --mask-gradient: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  --primary: #fff;
  --primary-color: #0b0c10;
  --black: #000;
  --brand: #74d6fd;
  --pink: #e01dee;
  --secondary: #e7ecf0;
  --secondary-color: #1a1c24;
  --collateral-color: #1d9259;
  --borrow-color: #f42222;
  --spinner-bgn: rgba(0, 0, 0, 0.5);
  --spinner-content: #393939;
  --footer-bg-color: #00000d;
  --footer-text-color: #e7ebf5;
  --footer-line-color: rgba(231, 235, 245, 0.2);
  --footer-divider-bg: #201338;
  --gradient: linear-gradient(73deg, #74d6fd 1.13%, #e01dee 103.45%);
  --button-gradient: linear-gradient(55deg, #74d6fd 0%, #e01dee 100%);
  --button-gradient-hover: linear-gradient(55deg, #74d6fd 0%, #74d6fd 100%);
  --button-gradient-active: linear-gradient(55deg, #58c4ef 0%, #58c4ef 100%);
  --dashboard-bg: rgba(11, 12, 16, 1);
  --card-bg-filter: blur(42.1875px);
  --card-box-shadow: inset 4px 4px 9px 0 rgba(153, 234, 255, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  --card-bg-gradient: linear-gradient(135deg, rgba(116, 214, 253, 0.5) 0%, rgba(11, 12, 16, 0.5) 100%);
  --card-border: 0.5px solid #4e7787;
  --success-color: #4caf50;
  --error-color: #ff5a5f;
  --color-overlay: rgba(0, 0, 0, 0.5);
  --bg: #120721;
  --border-color: #201338;
  --closePosition: linear-gradient(to right, #49abd2, #e01dee);
  --light-purple: #36294e;
  --gray: #83919f;
  --dark-purple: #120721;
  --light-blue: #74d5fd;
  --status-opened: #1edc9e;
  --status-closed: #433b5a;
  --status-pending: #83919f;
  --slider-gray: #393942;
  --light-blue: #88b4fa;
  --thumb-image: url('./assets/icons/slider-thumb.svg');
  --blue-pink-gradient: linear-gradient(90deg, #74d6fd 0%, #e01dee 100%);
  --blue-pink-gradient-alt: linear-gradient(90deg, #49abd2 0%, #e01dee 100%);
  --blue-pink-gradient-alt2: linear-gradient(90deg, #49abd2 100%, #e01dee 100%);
  --purple-border: 1px solid #201338;
  --dark-gray: #393942;
  --midnight-purple-border: 1px solid #36294e;
  --stormy-gray: #83919f;
  --deep-purple: #120721;
  --dark-background: #130713;
  --light-dark-background: #130713;
  --text-gray: #798795;
  --modal-border: #170f2e;
}

body {
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

a.svelte-1mtuslq.svelte-1mtuslq {
  display: none;
}
