nav {
  height: 80px;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  background-color: var(--secondary-color);
}

.list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 97%;
  height: 100px;
  position: relative;
}

.logo {
  z-index: 10;
}

.nav-items {
  display: flex;
  gap: 2.5em;
  justify-content: center;
  align-items: center;
}

.wallet-section {
  right: 10px;
  display: flex;
  gap: 10px;
}

.nav-items a {
  position: relative;
  color: var(--secondary);
  font-family: var(--text-font);
  font-size: 20px;
  transition: color 0.3s;
}

.nav-items a:hover {
  color: var(--brand);
}

.nav-items a.active-link {
  color: var(--brand);
  font-weight: 700;
}

.gradient-button {
  border-radius: 8px;
  border: none;
  height: 52px;
  width: 190px;
  font-size: 20px;
  font-family: var(--text-font);
  color: var(--black);
  font-weight: 700;
  background: var(--button-gradient);
  line-height: 100%;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid var(--brand);
  background-color: transparent;
  color: var(--primary);
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  transition: all 0.3s ease;
}

.logout-button:hover {
  background: var(--button-gradient-hover);
  border: none;
}

.logout-button:active {
  background: var(--button-gradient-active);
}

.logout-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.gradient-button:hover {
  background: var(--button-gradient-hover);
}

.gradient-button:active {
  background: var(--button-gradient-active);
}

.gradient-button:disabled {
  background: var(--button-gradient);
  color: var(--primary);
  opacity: 0.6;
  cursor: not-allowed;
}

.wallet-container {
  display: flex;
  gap: 10px;
}

.wallet-id {
  background: var(--gradient);
  border-radius: 8px;
  height: 52px;
  width: 190px;
  font-size: 20px;
  font-family: var(--text-font);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  height: 30px;
  width: 30px;
}

.hamburger-button {
  display: none;
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 900px) {
  .hamburger-button {
    display: block;
  }
nav {
  width: 100vw;
}
  .nav-items {
    position: fixed;
    top: 0;
    right: -100%;
    gap: 1rem;
    height: 100vh;
    font-size: .2rem;
    width: 250px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: var(--secondary-color);
    padding: 80px 20px 20px;
    transition: right 0.3s ease-in-out;
    z-index: 5;
  }

  .nav-items.open {
    right: 0;
  }

  .wallet-section {
    flex-direction: column;
    align-items: start;
  }
  .wallet-container {
    align-items: start;
    justify-content: start;
  }
}