@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
:root{
    --text-font:'Rethink Sans',sans-serif;
    --gradient: linear-gradient(73deg, #74D6FD 1.13%, #E01DEE 103.45%);
    --secondary-color:#1A1C24;
    --blue-color:#74D6FD;
}

body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    background-color: var(--secondary-color);
}

.list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 97%;
    height: 100px;
    position: relative;
}

.logo {
    position: absolute;
    left: 10px;
}

.nav-items {
    display: flex;
    gap: 2.5em;
    justify-content: center;
}

.wallet-section {
    position: absolute;
    right: 10px;
}

.nav-items a {
    position: relative;
    color: white;
    font-family:var(--text-font);
    font-size: 20px;
}

.nav-items a:hover{
    color: var(--blue-color);
}

.gradient-button{
    background: transparent;
    border-radius: 8px;
    height: 52px;
    width: 190px;
    font-size: 20px;
    font-family: var(--text-font);
    border: 1px solid var(--blue-color);
    color: white;
    font-weight: 700;
}

.wallet-container{
    display: flex;
    gap: 10px;
}

.wallet-id{
    background: var(--gradient);
    border-radius: 8px;
    height: 52px;
    width: 190px;
    font-size: 20px;
    font-family: var(--text-font);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}