.dont-miss__container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.miss-title {
  color: var(--primary);
  font-size: 50px;
}

.miss-description {
  color: var(--secondary);
  font-size: 24px;
  margin-bottom: 0;
}

.miss-button {
  position: relative;
}

.hand-icon {
  position: absolute;
  right: -50px;
  top: 26px;
}

.miss-star {
  position: absolute;
  top: var(--star-top);
  left: var(--star-left);
  width: var(--star-size);
  height: var(--star-size);
}

@media (max-width: 768px) {
  .text-container {
    width: 70%;
    text-align: center;
  }
  .miss-title {
    font-size: 35px;
  }

  .miss-description {
    font-size: 20px;
  }

  .hand-icon {
    position: absolute;
    right: -30px;
    top: 40px;
    width: 85px;
    height: 85px;
  }
}
