body {
  background-color: var(--primary-color);
  width: 100vw;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
  color: var(--secondary);
  text-align: center;
  margin-top: 10px;
  right: 10px;
}

.decoration,
.small-star,
.star {
  position: absolute;
  z-index: -1;
}

.decoration {
  top: var(--top);
  left: var(--left);
  width: var(--size);
  height: var(--size);
}

.small-star {
  top: var(--top);
  left: var(--left);
}

.star {
  top: var(--top);
  left: var(--left);
  width: var(--size);
  height: var(--size);
}

.top-gradient,
.bottom-gradient {
  background: var(--gradient);
  height: 100px;
  width: 60%;
  margin: 0;
  border-radius: 2000px 2000px 0 0;
  filter: blur(100px);
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.top-gradient {
  top: -50px;
}
.bottom-gradient {
  bottom: -50px;
}

.center-text {
  font-weight: 600;
  font-family: var(--text-font);
  color: var(--primary);
  margin: 0 auto;
}

.blue-color {
  color: var(--brand);
}

.text-gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.launch-button {
  background: var(--button-gradient);
  border: none;
  border-radius: 8px;
  height: 52px;
  width: 400px;
  font-size: 20px;
  font-family: var(--text-font);
  font-weight: 700;
  transition: background 1.3s ease;
  margin-top: 20px;
}

.launch-button:hover {
  background: var(--button-gradient-hover);
}
.launch-button:active {
  background: var(--button-gradient-active);
}

.starknet {
  position: absolute;
  top: 0;
  right: 20px;
}

@media (min-width: 1800px) {
  .center-text {
    font-size: 100px;
    width: 1200px;
  }

  .launch-button {
    width: 650px;
    font-size: 26px;
    height: 70px;
  }

  .home h5 {
    font-size: 1.4em;
    width: 800px;
  }
}

@media (max-width: 1800px) {
  .center-text {
    font-size: 80px;
    width: 1000px;
  }

  .launch-button {
    width: 550px;
    font-size: 26px;
    height: 60px;
  }

  .home h5 {
    font-size: 1.2em;
    width: 700px;
  }
}

@media (max-width: 1440px) {
  .center-text {
    font-size: 70px;
    max-width: 750px;
  }

  .launch-button {
    width: 350px;
    font-size: 18px;
  }

  .home h5 {
    font-size: 0.9em;
    width: 600px;
  }
}

@media (max-width: 1280px) {
  .center-text {
    font-size: 50px;
    max-width: 600px;
  }

  .launch-button {
    width: 300px;
    font-size: 16px;
  }

  .home h5 {
    font-size: 0.85em;
    width: 500px;
  }
}

@media (max-width: 1024px) {
  .center-text {
    font-size: 35px;
    max-width: 500px;
  }

  .launch-button {
    width: 250px;
    font-size: 14px;
  }

  .home h5 {
    font-size: 0.8em;
    width: 450px;
  }
}
