.slider-container {
  width: 100%;
  border: none;
  padding-top: 48px;
}

.slider {
  position: relative;
  height: 8px;
  width: 100%;
  cursor: pointer;
}

.slider-track {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  overflow: hidden;
  border: 1px solid var(--footer-divider-bg);
}

.slider-track-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  overflow: hidden;
  padding: 1px;
}

.slider-range {
  position: absolute;
  height: 100%;
  background: linear-gradient(to right, #49abd2, #e01dee);
}

.slider-thumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
}

.tooltip {
  position: absolute;
  height: 35.6px;
  width: 46px;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2c5475;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 7.17px;
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
}

.tooltip:after {
  content: '';
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 7px;
  border-style: solid;
  border-color: #2c5475 transparent transparent transparent;
}

.slider-with-tooltip {
  margin: 15px 1px -10px 15px;
  position: relative;
  width: 96%;
}

.error-message {
  color: var(--borrow-color);
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

div.slider-skeleton {
  width: 100%;
  padding: 10px 20px;
  background: linear-gradient(90deg, var(--primary) 25%, var(--secondary) 50%, var(--primary) 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 2px;
  margin: 20px 0;
  color: var(--primary-color);
}

.mark-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mark-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 18px;
}

div.marker {
  background: var(--slider-gray);
  width: 4px;
  height: 12px;
  border-radius: 12px;
}

.mark-item.active div.marker {
  background: var(--light-blue);
  width: 4px;
  height: 12px;
  border-radius: 12px;
}

.mark-label {
  color: var(--slider-gray);
  font-size: 0.875rem;
}

.mark-item.active .mark-label {
  color: var(--primary);
  font-size: 0.875rem;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

/* Responsiveness */
/* Mobile */
@media (max-width: 768px) {
  .multiplier-slider-container {
    margin: 10px 0px 0;
    width: 100%;
    padding: 0px;
  }

  .slider-with-tooltip {
    margin-left: 10px;
    width: 94%;
  }

  .mark-container {
    margin-top: 10px;
  }

  .slider-container {
    height: 112px;
    border: none;
    max-height: 85px;
    width: 100%;
    padding-top: 32px;
  }

  .slider {
    height: 8px;
  }

  .cursor {
    height: 24px;
    width: 23.49px;
  }

  .tooltip {
    font-size: 12px;
    padding: 3px;
    height: 25.41px;
    width: 36px;
    bottom: 32px;
  }

  .tooltip:after {
    border-width: 6px;
    bottom: -11px;
  }

  .mark-item {
    gap: 4px;
  }

  div.marker,
  .mark-item.active div.marker {
    width: 2px;
    height: 8px;
  }

  .mark-item.active .mark-label,
  .mark-label {
    font-size: 10px;
  }
}
