.tab-content {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  padding-left: 20px;
  padding-top: 0;
}

.currency-info {
  display: flex;
  align-items: center;
}

.currency-name {
  font-size: 20px;
  color: var(--second-primary);
}

.balance-info {
  font-size: 16px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.balance-label {
  color: var(--gray);
  font-size: 16px;
  font-weight: 400;
}

.balance-value {
  color: var(--second-primary);
  margin-left: 2px;
}

.balance-value.negative {
  color: var(--pink);
}

.current-sum-white {
  color: var(--second-primary);
}

.lucide-up-icon {
  color: var(--collateral-color);
  width: 23px;
  height: 23px;
  margin-left: 8px;
}

.lucide-down-icon {
  color: var(--borrow-color);
  width: 22px;
  height: 22px;
  margin-left: 8px;
}

.currency-symbol {
  margin-right: 4px;
  font-size: inherit;
  color: inherit;
}

@media (max-width: 768px) {
  .balance-info {
    width: 100%;
    height: auto;
  }

  .currency-symbol {
    font-size: 18px;
  }

  .currency-name {
    font-size: 18px;
  }

  .balance-label,
  .balance-value,
  .current-sum-red {
    font-size: 14px;
  }

  .top-card-value {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .tab-content {
    width: fit-content;
    font-size: 14px;
    padding-left: 0px;
  }

  .currency-symbol {
    font-size: 16px;
  }

  .currency-name {
    font-size: 16px;
  }

  .balance-info {
    width: fit-content;
  }
}

.up-icon {
  margin-left: 10px;
}
