.overview-container {
  background: url('../../../public/background.png') no-repeat;
  background-size: cover;
  background-position: center 39%;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  position: relative;
}

.sidebar {
  width: 374px;
  height: calc(100% - 90px);
  min-height: 115vh;
  top: 50;
  left: 0;
  z-index: 10;
}

.list-label-container {
  padding: 10px 0;
  color: white;
  transition:
    color 0.3s,
    border-color 0.3s ease;
}

/* Content */
.content {
  margin-top: 94px;
  flex: 1;
  margin-left: 370px;
  padding: 24px 0px 0px 24px;
}

.content-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
  line-height: 43.54px;
}

.section {
  margin-bottom: 3rem;
  max-width: 844px;
  font-weight: 400;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 10px 0px;
}

.section-text {
  font-size: 1rem;
  line-height: 1.75;
  color: white;
  font-weight: 400;
}

/* Key Features */
.key-features-title {
  margin-top: 24px;
  margin-bottom: 5px;
}

.key-features-list > li {
  list-style-type: disc;
}

.key-features-list > li {
  line-height: 24px;
}

.how-it-works-list > li {
  list-style: decimal;
  color: white;
  margin-top: 16px;
}

@media (max-width: 1440px) {
  .content {
    margin-left: 300px;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .overview-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #2a2a2a;
  }

  .content {
    padding: 1rem 2rem;
  }
}

@media (min-width: 2500px) {
  .overview-container {
    width: 100%;
    margin: 0px auto;
  }
}
