.information{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info__container{
    position: relative;
    width: 70vw;
    display: flex;
    justify-content: space-around;
}

.card-info{
    width: 450px;
    height: 300px;
    background: linear-gradient(0deg, rgba(72, 143, 162, 0.03) 0%, rgba(72, 143, 162, 0.03) 100%), linear-gradient(123deg, rgba(116, 214, 253, 0.50) 0.63%, rgba(11, 12, 16, 0.50) 100.03%);
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    border: 0.5px solid #74D6FD;
    box-shadow: 0px 3.75px 3.75px 0px rgba(0, 0, 0, 0.15), 3.75px 3.75px 9.375px 0px rgba(153, 234, 255, 0.25) inset;
    backdrop-filter: blur(21.09375px);
}

.card-info > * {
    color: white;
}

.card-info h3{
    font-size: 60px;
}

.card-info h1{
    font-size: 30px;
    color: darkgray;
}

.infos .card-gradient:nth-child(1){
    position: absolute;
    top: 80px;
    left: -330px;
    width: 232px;
    height: 208px;
    flex-shrink: 0;
    border-radius: 2000px;
    background: var(--gradient, linear-gradient(73deg, #74D6FD 1.13%, #E01DEE 103.45%));
    filter: blur(120px);
}

.infos .card-gradient:nth-child(2){
    position: absolute;
    right: -450px;
    bottom: 70px;
    width: 342px;
    height: 208px;
    flex-shrink: 0;
    border-radius: 2000px;
    background: var(--gradient, linear-gradient(73deg, #74D6FD 1.13%, #E01DEE 103.45%));
    /* Blur */
    filter: blur(120px);
}