.information {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.card-info__container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
}

.card-info {
  width: 420px;
  height: 250px;
  background: var(--card-bg-gradient);
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  border: var(--card-border);
  box-shadow: var(--card-box-shadow);
  backdrop-filter: var(--card-bg-filter);
}

.card-info {
  color: var(--primary);
}

.card-info h3 {
  font-size: 60px;
  font-family: var(--text-font);
  font-weight: 600;
  line-height: 95%;
  text-align: center;
  color: var(--primary);
}

.card-info h1 {
  color: var(--secondary);
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

.infos .card-gradient:nth-child(1) {
  position: absolute;
  top: 80px;
  left: -330px;
  width: 232px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 2000px;
  background: var(--gradient);
  filter: blur(120px);
}

.infos .card-gradient:nth-child(2) {
  position: absolute;
  right: -450px;
  bottom: 70px;
  width: 342px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 2000px;
  background: var(--gradient);
  filter: blur(120px);
}

@media (max-width: 1440px) {
  .information {
    height: 60vh;
    margin-top: 60px;
  }

  .card-info__container {
    max-width: 1100px;
  }

  .card-info {
    width: 380px;
    height: 225px;
    gap: 12px;
  }

  .card-info h3 {
    font-size: 55px;
  }

  .card-info h1 {
    font-size: 30px;
  }

  @media (max-width: 1024px) {
    .information {
      height: 50vh;
    }

    .card-info__container {
      max-width: 880px;
    }

    .card-info {
      width: 340px;
      height: 200px;
      gap: 10px;
    }

    .card-info h3 {
      font-size: 50px;
    }

    .card-info h1 {
      font-size: 25px;
    }

    .infos .card-gradient:nth-child(1) {
      top: 50px;
      left: -200px;
      width: 180px;
      height: 180px;
    }

    .infos .card-gradient:nth-child(2) {
      right: -200px;
      bottom: 40px;
      width: 250px;
      height: 180px;
    }
  }

  @media (max-width: 768px) {
    .information {
      height: 40vh;
    }

    .card-info__container {
      max-width: 700px;
      flex-direction: column;
      align-items: center;
    }

    .card-info {
      margin-bottom: 70px;
    }
    .infos .card-gradient:nth-child(1) {
      top: 100px;
      left: -50px;
      width: 180px;
      height: 180px;
    }

    .infos .card-gradient:nth-child(2) {
      right: -100px;
      bottom: 40px;
      width: 250px;
      height: 180px;
    }
    @media (max-width: 480px) {
      .information {
        margin-top: 50px;
      }
    }

    .card-info {
      margin-bottom: 60px;
    }

    .infos .card-gradient:nth-child(1) {
      top: -50px;
      left: 10px;
      width: 180px;
      height: 180px;
    }

    .infos .card-gradient:nth-child(2) {
      right: -220px;
      bottom: 40px;
      width: 250px;
      height: 180px;
    }
  }
}
