.deposit-wrapper {
  background-size: cover;
  background-position: center 39%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  padding-top: 24px;
  transition: all 0.2s ease-in-out;
  padding-bottom: 4rem;
}

.deposit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin-left: 200px;
  transition: all 0.3s ease-in-out;
}

.deposit-title1 {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.main-container-deposit {
  width: 642px;
  gap: 2px;
  padding-top: 24px;
  border-radius: 8px;
  color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
}
.top-cards-deposit {
  display: flex;
  gap: 1.5rem;
  width: 642px;
  height: 101px;
  justify-content: center;
}

.deposit-title2 {
  font-size: 20px;
  font-weight: 400;
  color: var(--primary);
  text-align: center;
  margin-top: 2rem;
}

.card-header {
  color: var(--stormy-gray);
}

.card-icon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.main-card-deposit {
  padding: 1.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 38px;
  border: none;
}

.deposit-token {
  border: none;
  border-radius: 8px;
  background-color: white;
}

.currency-deposit {
  position: absolute;
  color: var(--dark-gray);
  right: 27%;
  top: 18%;
  transform: translateY(-50%);
  opacity: 0.5;
  font-size: 16px;
  line-height: 20.83px;
  z-index: 999999;
}

.amount-input-deposit {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  text-align: center;
  font-weight: 600;
  font-size: 64px;
}

.amount-field-deposit {
  background: transparent;
  border: none;
  color: var(--gray);
  font-size: 64px;
  font-weight: 600;
  outline: none;
  text-align: center;
  width: 100%;
}

.amount-stack-card {
  background: var(--footer-divider-bg);
  border: var(--midnight-purple-border);
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount-stack-card-title-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deposit-input-container {
  padding: 8px 0;
}

.deposit-input-title {
  font-size: 16px;
  color: var(--stormy-gray);
  margin-bottom: 5px;
}

.deposit-input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: var(--midnight-purple-border);
  border-radius: 8px;
  border-radius: 8px;
  padding: 16px;
  color: var(--primary);
  font-size: 16px;
}

/* main card footer */
.divider {
  width: 100%;
  height: 1.5px;
  background: var(--footer-divider-bg);
  margin: 1rem 0;
}

.settings-fee-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0px 12px 0px;
}

.fee-title {
  color: var(--stormy-gray);
  font-size: 12px;
  font-weight: 400;
}

.setting-circle {
  width: 32px;
  height: 32px;
  background-color: var(--footer-divider-bg);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.setting-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.deposit-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border-radius: 8px;
  padding: 2px;
  background: var(--blue-pink-gradient);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.mobile-screen-btns {
  display: none;
}

@media (max-width: 1024px) {
  .deposit-container {
    width: 642px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .deposit-container {
    margin-left: 0px;
  }

  .dep-button {
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  .deposit-cancel-button {
    position: relative;
    font-weight: 600;
    width: 167px;
    height: 60px;
    background: none;
    color: var(--primary);
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid;
    border-color: #36294e;
    border-radius: 8px;
    padding: 16px 24px 16px 24px;
    z-index: 1;
    overflow: hidden;
  }

  .deposit-button {
    position: relative;
    font-weight: 600;
    width: 167px;
    height: 60px;
    background: none;
    color: var(--primary);
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 16px 24px 16px 24px;
    z-index: 1;
    overflow: hidden;
  }
}

@media (max-width: 680px) {
  .top-cards-deposit {
    width: 500px;
    margin: 0px;
    gap: 6px;
  }

  .main-container-deposit {
    width: 500px;
    margin: auto;
    padding-top: 0px;
  }
}

@media (max-width: 480px) {
  .top-cards-deposit {
    width: 380px;
    /* gap: 8px; */
    height: 88px;
    margin-top: -6px;
  }
}

@media (min-width: 768px) {
  .deposit-button {
    position: relative;
    display: inline-block;
    font-weight: 600;
    width: 100%;
    height: 60px;
    background: none;
    color: var(--primary);
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 16px 24px 16px 24px;
    z-index: 1;
    overflow: hidden;
  }

  .deposit-cancel-button {
    position: relative;
    display: none;
    font-weight: 600;
    width: 100%;
    height: 60px;
    background: none;
    color: var(--primary);
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 16px 24px 16px 24px;
    z-index: 1;
    overflow: hidden;
  }
}
