/* .main-container-deposit {
  gap: 2px;
  padding-top: 24px;
  border-radius: 8px;
  color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
} */
.top-cards-deposit {
  display: flex;
  gap: 0.5rem;
  width: 642px;
  height: 101px;
  justify-content: center;
}

.deposit-title2 {
  font-size: 20px;
  font-weight: 400;
  color: var(--primary);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0px;
}

.card-header {
  color: var(--stormy-gray);
}

.card-icon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.main-card-deposit {
  padding: 1.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 38px;
  border: none;
}

.deposit-token {
  border: none;
  border-radius: 8px;
  background-color: white;
}

.currency-deposit {
  position: absolute;
  color: var(--dark-gray);
  top: 18%;
  transform: translateY(-50%);
  opacity: 0.5;
  font-size: 16px;
  line-height: 20.83px;
  z-index: 999999;
}

.amount-input-deposit {
  position: relative;
  width: 146px;
  max-width: 400px;
  margin: 2rem auto;
  text-align: center;
  font-weight: 600;
  font-size: 64px;
}

.amount-field-deposit {
  background: transparent;
  border: none;
  color: var(--gray);
  font-size: 64px;
  font-weight: 600;
  outline: none;
  text-align: center;
  width: 100%;
}

.amount-stack-card {
  background: var(--footer-divider-bg);
  border: var(--midnight-purple-border);
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount-stack-card-title-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deposit-input-container {
  padding: 8px 0;
}

.deposit-input-title {
  font-size: 16px;
  color: var(--stormy-gray);
  margin-bottom: 5px;
}

.deposit-input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: var(--midnight-purple-border);
  border-radius: 8px;
  border-radius: 8px;
  padding: 16px;
  color: var(--primary);
  font-size: 16px;
}

/* main card footer */
.divider {
  width: 100%;
  height: 1.5px;
  background: var(--footer-divider-bg);
  margin: 1rem 0;
}

.settings-fee-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0px 12px 0px;
}

.fee-title {
  color: var(--stormy-gray);
  font-size: 12px;
  font-weight: 400;
}

.setting-circle {
  width: 32px;
  height: 32px;
  background-color: var(--footer-divider-bg);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.setting-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.mobile-screen-btns {
  display: none;
}

@media (max-width: 1300px) {
  .deposit-btn {
    width: 530px;
  }
}

@media (max-width: 768px) {


  .deposit-title2 {
    margin-top: 0px;
  }
}

@media (max-width: 680px) {
  .top-cards-deposit {
    width: 500px;
    margin: 0px;
    gap: 6px;
  }

  .deposit-btn {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .top-cards-deposit,
  .deposit-btn {
    width: 480px;
  }
}

@media (max-width: 480px) {
  .deposit-btn {
    width: 420px;
  }
  .top-cards-deposit {
    width: 420px;
    gap: 8px;
    height: 88px;
    margin-top: -6px;
  }
  

  @media (max-width: 420px) {
    .top-cards-deposit,
    .deposit-btn {
      width: 350px;
    }
  }

  .main-container-deposit {
    margin: auto;
    padding-top: 0px;
  }
}
